[2018-09-27 14:19] yihui opened #1 "How to use roman numerals in front matter and decimal in the main body?"
The roman counter can be obtained via `content: counter(page, lower-roman);` (https://alistapart.com/article/boom), but the problem is that I cannot reset the counter when Chapter 1 starts, i.e. the page numbers will be like `i, ii, iii, iv, ..., viii, 9, 10`.

`counter-reset: page` doesn't work.

[2018-10-01 21:48] yihui opened #2 "Support MathJax"
https://www.pagedmedia.org/paginating-math/

[2018-10-02 03:13] yihui opened #3 "CSS leaders"
Currently we are using the trick mentioned at https://www.w3.org/Style/Examples/007/leaders.en.html, but there is a challenge in our case: for long section headers, the TOC items will be wrapped. We cannot use the trick in "CSS RULES FOR WRAPPING TEXT", because we don't have the second `<span>` for the page numbers. The page numbers are generated in `a::after`:
https://github.com/rstudio/pagedown/

[2018-10-02 03:42] yihui opened #4 "A convention for specifying short titles"
When a section header is too long, its original text may not be suitable for a running header. In this case, we need a shorter version. One possible way is to use [bracketed spans](http://pandoc.org/MANUAL.html#divs-and-spans), e.g.

[code]

Then we define something like

[code]

I haven't tested it. We need to make sure `string(h1-text)` gets the text from `.shorttitle` instead of `h1` when both

[2018-10-02 04:00] yihui opened #5 "Known page break issues"
These have been fixed in #8. We can remove our fix once paged.js has fixed them.

- [x] `li` inside `ul` cannot be broken across pages (otherwise the leftover text on the second page will have the bullet, too).

- [x] `li` inside `ol` will be numbered from 1: https://gitlab.pagedmedia.org/tools/pagedjs/issues/26

[2018-10-02 09:53] RLesur commented on #4
In order to keep track, the following CSS rules do not work yet:
[code]

[2018-10-03 02:46] yihui commented on #4
I'm fine with running elements. I didn't use it precisely because I didn't want to create a special `<span>` for each running header. I was aware of the fact that we could create such elements programmatically via JS. If that is the only proper solution, let's go with it.

[2018-10-08 20:59] RLesur commented on #1
The current implementation of `target-counter(attr(href), page)` does not seem compatible with `counter-reset: page` (see [here](https://gitlab.pagedmedia.org/tools/pagedjs/blob/master/src/modules/generated-content/target-counters.js#L80)).

I don't think we can handle with this issue without any development in paged.js.

[2018-10-09 16:20] #3 closed

[2018-10-10 03:31] #2 closed

[2018-10-10 13:51] #4 closed

[2018-10-10 18:19] RLesur commented on #5
fixed in paged.js, see https://gitlab.pagedmedia.org/tools/pagedjs/merge_requests/26

[2018-10-10 18:33] yihui commented on #5
Great! Once they release the package to npm, we can update paged.js in our package and remove your previous fix: https://github.com/rstudio/pagedown/blob/master/tools/update.R

[2018-10-11 20:47] RLesur opened #11 "Error when none of the builtin CSS used"
When none of the builtin CSS files is used, document rendering fails.
It will  work if we replace `paste0(css2, '.css')` with `xfun::with_ext(css2, '.css')` here: https://github.com/rstudio/pagedown/blob/eb3725331684a68baa620a3e442f84096dd6796b/R/paged.R#L29

[2018-10-11 21:12] RLesur opened #13 "Short title spans appear when the default CSS is not used"
If the user does not include the builtin `default.css` file, the spans used for short titles appear.
We could try to move the following CSS rules to presentational hints: https://github.com/rstudio/pagedown/blob/eb3725331684a68baa620a3e442f84096dd6796b/inst/resources/css/default.css#L149-L151

[2018-10-12 01:15] #11 closed

[2018-10-12 01:20] #13 closed

[2018-10-12 15:50] yihui opened #15 "Issues with the resume CSS"
Example: https://rstudio.github.io/pagedown/html-resume.html

- [ ] The default page margin is too small and not really suitable for printing.
- [ ] I feel the default font size is too small, too. Those busy HRs probably won't be happy to read such tiny text.
- [ ] Only works well with a single-page resume. If there are multiple pages, the sidebar won't reach  later pages.

![image](https://user-i

[2018-10-15 12:43] RLesur commented on #15
I think there might be several means to fix this issue.
In order to choose a strategy, we should first answer to this question:
In the case of a multiple-pages resume, what would be the content of the sidebar? Is it the same content repeated on each page? a void grey sidebar? a different content with the same footer?

[2018-10-24 14:55] #5 closed

[2018-10-24 15:56] RLesur commented on #15
Here's [my best deal](https://github.com/RLesur/pagedown/blob/issue-15-css-only/inst/resources/css/resume.css) with CSS only.

I suceeded to set margins and have a sidebar that reaches the bottom of the second page.
![image](https://user-images.githubusercontent.com/19177171/47443245-33539180-d7b4-11e8-8d19-32c990dc5b24.png)

The only caveat that I put on this version is that the number of pages [

[2018-10-24 16:14] yihui commented on #15
That is a great progress! I'll take a closer look in the afternoon. Thanks!

[2018-10-25 02:41] yihui commented on #15
Let's just get rid of `grid-template-rows`: https://github.com/RLesur/pagedown/blob/feda74e5/inst/resources/css/resume.css#L43

The footer/sidebar doesn't have to reach the bottom of a page. I'm totally fine with this:

![image](https://user-images.githubusercontent.com/163582/47472785-8b4ec000-d7d5-11e8-9edb-a68e5387de4d.png)

[2018-10-30 00:02] RLesur commented on #1
@fchasen asked me to open an issue for this one. See https://gitlab.pagedmedia.org/tools/pagedjs/issues/74

[2018-10-30 22:58] RLesur opened #22 "Arguments of the chrome headless helper"
The `chrome_print` function is great! Thanks!

When I use chrome headless on html pages with paged.js, I always need the `--virtual-time-budget` CLI argument. It seems to be logical because paged.js is launched when the page is loaded. If I understand well chrome headless, the pdf is built at the same time. So, the DOM is not processed by paged.js before the pdf generation.
On average documents (p

[2018-10-31 00:50] yihui commented on #22
I have only spent about an hour on this function. There is certainly a lot of room for improvement. We should definitely add such an argument to allow some waiting time before printing. I just didn't know the name of the argument, so thanks for the tip! Currently you can do this:

[code]

but it makes more sense to promote it to an argument of `chrome_print()` (and perhaps should make it default t

[2018-10-31 04:35] #22 closed

[2018-11-01 20:01] yihui opened #23 "Issues with html_letter"
## 1. The bullet list may not be broken properly

See the last bullet on the previous page:

![image](https://user-images.githubusercontent.com/163582/47876053-42ef5d80-dde6-11e8-906f-4761a708f386.png)

## 2. Footnotes may be pushed into the bottom margin

### If you use the image commented out:

https://github.com/rstudio/pagedown/blob/80e4825448245425b4d1b8f57ed5769ef0b9c1c3/inst/rmarkdown/templ

[2018-11-05 03:04] yihui commented on #23
Awesome! I also prefer the last option.

[2018-11-06 14:40] #23 closed

[2018-11-06 15:03] #15 closed

[2018-11-06 23:35] RLesur opened #27 "Native chrome automation for PDF creation"
I want to share an experiment I made with @MilesMcBain's [chradle](https://github.com/MilesMcBain/chradle) test package.
The goal of chradle is to communicate with Chrome through the [Devtools Protocol](https://chromedevtools.github.io/devtools-protocol/) (like puppeteer) using a websocket connection (with [rstudio/websocket](https://github.com/rstudio/websocket)): we have a direct connection betw

[2018-11-07 03:33] yihui commented on #27
This sounds awesome! Once again you brought something exciting to my attention. I'll take a closer look when I have a chance. Thanks!

[2018-11-07 22:37] yihui commented on #27
@cderv Thanks! I wasn't aware of the two projects you mentioned (I only knew puppeteer). For the `processx::run()` approach above, that seems to be what `pagedown::chrome_print()` does: https://github.com/rstudio/pagedown/blob/master/R/chrome.R The real challenge is not how to create the PDF, but creating the PDF with the correct _timing_, i.e., make sure everything has been loaded and all JS libr

[2018-11-07 22:51] cderv commented on #27
Oh I was not aware of `chrome.R` file.
It is a very interesting problem. I am curious if `gepetto` approach allows that or not. I will try.
However, in the long term, I am not sure having a node.js / npm component dependency is viable. websocket approach seems better but tricky.

If I find some time synchronized with your pace with @RLesur and in respect with other project, I will look into it too

[2018-11-07 22:55] RLesur commented on #27
Thanks @cderv for your interest on this issue!
I also did similar test with decapitated and Chrome CLI and also got disappointing results with `html_paged` documents unless using the `--virtual-time-budget` option.
With puppeteer, I get fine results with this kind of js script:
[code]
The trick here comes from the fact that the `footnote-area` class elements are created at the end of the DOM proce

[2018-11-09 05:05] RLesur opened #29 "TODO when upgrading paged.js"
**paged.js 0.1.23**
0.1.23 makes the layout asynchronous so it will wait for fonts and images to load automatically now.
- [x] remove #26 , see https://gitlab.pagedmedia.org/tools/pagedjs/commit/27d439fce78bf87fbf0a4e8f569fa84c94eed808

[2018-11-09 05:51] yihui commented on #29
Please feel free to run `tools/update.R` and push the necessary changes to the master branch. You don't need to send a PR for this case. Thanks!

[2018-11-11 21:38] cderv commented on #27
Just to share something I found : https://wkhtmltopdf.org/
Do you already know ?
It seems interesting to print html to pdf. It is available as binary or with a C API. I'll try it on pagedown, but does not work as it should on my windows environment. We'll see.

[2018-11-12 00:49] RLesur commented on #27
I've used wkhtmltopdf this year when I worked on [my first project using CSS paged media](https://github.com/RLesur/weasydoc).

`wkhtmltopdf` is a good pdf rendering tool. However, it has no native support for CSS paged media. It is not surprising because it relies on WebKit. So, I stopped to use it (it was before I discovered paged.js).

Since I worked with paged.js, I've not tried to generate a

[2018-11-12 21:15] RLesur commented on #29
Before upgrading, I did several tests: there's now a bug using MathJax and paged.js 0.1.23 (I think it comes from MathJax webfonts loading). I warned the pagedmedia.org team. We have to wait.

[2018-11-14 01:38] RLesur commented on #27
I was a little bit obsessed by this problem.
Today, I've an idea, and finally it works very well!
First of all, many thanks to @MilesMcBain: I reuse here your work.

Since my first try with `chradle` to generate a pdf did not work, I made the assumption that we have no native R websocket client (`rstudio/websocket` is in dev, so I forgot it).
There are two main ideas in the script:

1. Even if we

[2018-11-14 14:39] RLesur commented on #27
I've tested `rstudio/websocket` with the worst available config: windows behind a proxy.
It works well. We could build something on top of `rstudio/websocket`.

[2018-11-16 15:41] RLesur commented on #27
As @yihui , I could not sleep a lot since I did the previous tests.
I read some docs about the Chrome DevTools Protocol and I have a new proposal.
It is like the Chrome Remote Interface but now, this 100% in R.
It relies heavily on the websocket and promises packages.

The source code of the proposal is [here](https://gist.github.com/RLesur/637dac37397127aa9db7529d70d0968c).
Below, you can find an

[2018-11-25 20:54] RLesur commented on #27
Since last week, I worked a lot on this problem. I wrote down all my ideas here: https://github.com/RLesur/crrri
Now, I understand how to implement this feature in pagedown. I'll do a PR.

[2018-11-28 18:54] RLesur commented on #29
I tried the newer MathJax and I've still the warnings.
Moreover, I tried the latest version of paged.js (0.1.25 and 0.1.26) that should solve #1 and I have a weird bug (only the first chapter of the bookdown book is rendered). I have to investigate deeply the problem.

[2018-11-28 20:11] tungmilan opened #31 "Icons for LinkedIn, ResearchGate, Stack Overflow, Google Scholar, Kaggle, etc."
Nice package and very easy to use! Thank you all for your amazing work!

How do we add icons for LinkedIn, ResearchGate, Stack Overflow, Google Scholar, Kaggle, etc. in the `Contact Info` section? I tried a few key words but it did not work

[code]

[2018-11-28 21:53] yihui commented on #31
All icons are from FontAwesome: https://fontawesome.com/icons/stack-overflow?style=brands You can search for them there.

For the second request, you can do whatever Markdown and HTML allow you to do. The short answer is yes, as long as you know Markdown and/or HTML.

[2018-11-28 21:53] #31 closed

[2018-11-29 17:20] RLesur commented on #29
I met the paged.js team today, I've worked with them on the remaining bugs. We have to wait for the next release (maybe next week).

[2018-11-29 18:39] tungmilan opened #32 "Main content pushed to the 2nd page if the sidebar is longer than one page"
Hello,

I tested [this commit](https://github.com/rstudio/pagedown/commit/71631aa30c55cd2b61b3ac34063252b373e557eb) and when I opened the html file on

* Windows 10 Chrome 70.0.3538.110 (Official Build) (64-bit)
Nothing showed up, just a blank page.  Inspect > Errors

[code]

* Firefox Quantum 63.0.3 (64-bit)

![](https://i.imgur.com/KnS84dN.png)
![](https://i.imgur.com/WBwrCfP.png)

<details>
 <s

[2018-11-29 18:43] tungmilan commented on #31
Thanks @yihui !

[2018-11-29 19:58] yihui commented on #32
You need to wait for our documentation, which is what I'm working on this week.

In this case, you need a web server to preview the page. There are many possible to start a web server. The easiest one may be `xaringan::inf_mr()`.

[2018-11-29 20:02] yihui commented on #32
I forgot to mention that `xaringan::inf_mr()` will only fix the page.js error. If the sidebar is too long, the problem is probably inevitable (I'm not sure; this needs investigation). The sidebar is just a sidebar. Practically, you probably should not stuff it with too much content.

[2018-11-29 21:22] #32 closed

[2018-11-29 21:22] yihui commented on #32
Now it is possible to add side notes on later pages using the syntax `::: aside`, e.g.

[code]

[2018-11-29 21:38] RLesur commented on #32
You're right: it is inevitable with floating elements. The logic of paged.js is the following: if an element overflow on another page, the chunker will detect it and create a new page. Here, the first element (`#aside`), that is floating right, overflows: the chunker creates a new page, position the remaining in the new page and take the following element (`#main`). This also explains why you need

[2018-11-29 22:50] RLesur opened #33 "Hyphenations"
For now, Chrome supports (partially) hyphenations on Mac. There's no hyphenation support on Windows and Linux.
The paged.js team uses and recommends `hyphenopoly`: https://github.com/mnater/Hyphenopoly

[2018-11-30 00:50] tungmilan commented on #32
Thank you both!

[2018-12-04 04:13] yihui commented on #22
@RLesur I wonder if you could clear my confusion about the `--virtual-time-budget` argument: https://stackoverflow.com/q/53548438/559676

[2018-12-04 16:45] yihui commented on #22
So when the page is still being loaded, the virtual time won't advance. After it is fully loaded, the virtual time will start to advance. My confusion is why it doesn't make much difference whether I want it to advance for 10 seconds or 1000 seconds.

[2018-12-04 23:11] RLesur commented on #22
**The virtual time budget**
I did some tests. I am not sure to fully understand the behavior of the virtual time budget, but it seems there is like a "fast-forward" mechanism.

Here's one test with Chrome in remote debugging mode (precision: I think that this script does not replicate the behavior of the print-to-pdf Chrome CLI):
[code]
log file: [log1e5.txt](https://github.com/rstudio/pagedown/fi

[2018-12-04 23:16] yihui commented on #22
Okay. That is very helpful! Thanks!

[2018-12-13 09:55] RLesur commented on #29
I cannot upgrade paged.js for now: there's still a weird bug in `toc` (page numbers in nested `ul` are wrong), this is a regression. Other features are cool.

[2018-12-13 15:37] yihui commented on #29
Cool. Thanks for the update!

BTW, it sounds like we'll have to think about automated testing in the future, instead of having you look at the output every time.

[2018-12-13 22:09] #29 closed

[2018-12-13 23:41] RLesur commented on #1
After upgrading to Paged.js 0.1.28 (https://github.com/rstudio/pagedown/commit/3168deb12de81d74161754c543ba8720b7abe826), the `counter-reset: page` rule is now working with some limitations.
For instance, the following rule is OK:
[code]

However, this doesn't work yet:
[code]
The page counter is reset on each page which contains an element of class `section` (in other words, each page because of

[2018-12-14 09:40] RLesur opened #35 "Wrong page references in table of contents"
Since Paged.js 0.1.28 (https://github.com/rstudio/pagedown/commit/3168deb12de81d74161754c543ba8720b7abe826), the page numbering in TOC is wrong when we use a TOC depth greater than 1. This happens only with Chrome, not Firefox.
I declared the issue in the Paged.js project: https://gitlab.pagedmedia.org/tools/pagedjs/issues/89

[2018-12-14 14:31] yihui opened #36 "How to keep the scroll position after refreshing the page?"
When a page is refreshed, the scroll position is lost (it always shows the first page, no matter which page the reader was previously on). This also makes it difficult for a reader to catch up where she left last time.

Perhaps we can add a scroll event, in which we add a hash to the URL, which is the identifier of the current page, like remark.js slides (like `page.html#23`). Then if the page is

[2018-12-14 15:30] #36 closed

[2018-12-14 15:32] yihui commented on #36
Not fully implemented, but I'm happy enough for now: the scroll position will be preserved when the page is reloaded via `xaringan::inf_mr()`. This makes me much more comfortable to live preview paged documents in RStudio Viewer.

[2018-12-14 17:17] yihui opened #37 "data-short-title should inherit the section numbers (if exist)"
If a section has a section number, `data-short-title` should inherit this number.

[2018-12-14 22:18] #37 closed

[2018-12-18 15:47] #1 closed

[2018-12-22 07:40] RLesur commented on #35
It is fixed in Paged.js 0.1.29 https://gitlab.pagedmedia.org/tools/pagedjs/issues/89#note_502
However, I get a regression with 0.1.29 (see the page number of the lists of figures and tables):
![paged js-0 1 29](https://user-images.githubusercontent.com/19177171/50371957-1e815780-05c5-11e9-88e4-797ee023a8eb.png)

[2018-12-22 14:55] yihui commented on #35
Actually the LOT and LOF are usually not included in the TOC. If you are able to remove these two items from the TOC, that will be great.

[2018-12-22 20:31] RLesur commented on #35
I can try to remove LOT and LOF from the TOC.
However, this will lead to a difference with the LaTeX CRC template where LOT and LOF are referenced in the TOC: https://bookdown.org/yihui/bookdown/bookdown.pdf.
The bug will remain for any section of class `front-matter`.

[2018-12-23 02:17] yihui commented on #35
Oh I misremembered. Sorry. Then let's keep them.

[2019-01-01 19:38] RLesur opened #41 "Overruling at-page statement using default-page.css"
Paged.js takes into account only the first `@page {...}` statement it finds.

So, if the user wants to overrule the `@page` statement using a `custom.css` file, it is:
- possible with `html_paged(css = c('custom.css', 'default-page')`
- impossible with `html_paged(css = c('default-page', 'custom.css')`

This is a low priority bug but I'm unsatisfied by this behavior that violates the CSS precedenc

[2019-01-02 00:42] RLesur opened #42 "Pandoc highlighting can crash Paged.js"
In some situations, I get overflows that crash Paged.js.
It seems to be related to Pandoc highlighting: when I comment on the highlighting stylesheet in the html file (or use `highlight = NULL`), it solves the problem.
It is hard to reproduce and I still don't have a full understanding of the problem.

Here is one screenshot with a bug:

![overflow](https://user-images.githubusercontent.com/191771

[2019-01-03 22:34] whtns opened #44 "Pagedown.rbind.io blocked by institutional firewall"
When I visit pagedown.rbind.io from my workplace I'm presented with the message below.
![image](https://user-images.githubusercontent.com/6510323/50665173-7b392680-0f64-11e9-9aed-7c40eeef59c2.png)

I don't get a similar message from any other rbind.io domains

my ip address is 128.125.179.206

[2019-01-03 23:07] RLesur commented on #44
Can you access to the following url? https://rstudio.github.io/pagedown/
This is the same website.

[2019-01-03 23:31] yihui commented on #44
@whtns Could you copy and paste the URL in your address bar? Or show the "Diagnostic Info" on that page?

[2019-01-04 11:59] earowang opened #45 "html_resume doesn't render properly with safari"
Thanks for another awesome package!

The `html_resume` doesn't render properly with safari, but works fine with Chrome, firefox and opera.
![image](https://user-images.githubusercontent.com/2456216/50687077-06551200-1074-11e9-99a7-b05060bf9ad9.png)

Any thoughts on this?

[2019-01-04 14:16] yihui commented on #45
I can reproduce that in Safari. This package is actually kind of experimental, and we will focus on Chrome in the beginning. For Safari, if we can borrow your (or anyone else's) hacking skills, we will be very happy to accept a pull request to fix this issue, otherwise I'm afraid it will have to wait for a couple of months. Thanks for the report!

[2019-01-04 17:43] whtns commented on #44
I can access https://rstudio.github.io/pagedown/ without any problem

yes, the url redirectred from pagedown.rbin.io is https://malware.opendns.com/main?url=pagedown.rbind.io&server=lax19&prefs=&tagging=&nref#

here is the diagnostic info
![image](https://user-images.githubusercontent.com/6510323/50702185-04079f00-1005-11e9-8dec-6631af2858ed.png)

[2019-01-04 17:43] whtns commented on #44
ACType
0
Block Type
security
Bundle ID
639884
Domain Tagging
-
Host
malware.opendns.com
IP Address
128.125.179.203
Org ID
2200681
Origin ID
72985446
Prefs
-
Query
url=pagedown.rbind.io&server=lax19&prefs=&tagging=&nref
Server
lax19
Time
2019-01-04 17:41:18.083473507 +0000 UTC m=+5745231.407830724

[2019-01-04 19:39] petermeissner opened #46 "Pages in toc are all 1"
I have a simple markdown file like .Rmd-file like this:

[code]

## The Problem

... all toc items get the same page ("1").

I get this error with Rstudio-Viewer and with Chrome. I do not get it with Firefox and rendering comletely fails with Edge.

## Session Info

[code]

[2019-01-04 19:43] yihui commented on #46
Duplicate of #35

[2019-01-10 16:00] Aariq opened #47 "html_resume rendering problems"
When I create a new `html_resume` template and knit it, section headers and the entire "title" section are cut off mid-letter on the left side.  Additionally, when I try to open it in Chrome, the profile picture flashes briefly, then it leads me to a blank page.  I have the most recent version of Pandoc (2.5), R version 3.5.1, and RStudio version 1.1.463.
<img width="825" alt="screen shot 2019-01-

[2019-01-10 21:02] Aariq commented on #47
Thank you! this fixes my issue

[2019-01-10 21:02] #47 closed

[2019-01-11 03:50] yihui opened #49 "Take a look at posterdown"
https://twitter.com/brentthorne18/status/1082324297769725953

[2019-01-11 12:31] bernardkaplan opened #50 "html_resume : page break and section alignment"
When a section spreads over two pages the alignment gets wrong on the second one.
I took a screenshot of a slightly modified version of the template resume to illustrate my point.

- Is there a way to fix this ?
- Otherwise is it possible to force a page break just before the section that will span over two pages ?

<img width="834" alt="html_resume page break and section alignment" src="https://u

[2019-01-11 16:43] RLesur commented on #50
This issue is documented in the section 3.1 of the pagedown documentation here https://pagedown.rbind.io/
You can try the solution provided in the documentation or the following one:
[code]

It is possible to force page breaks using the CSS rule `page-break-after: always;` or `break-after: page;` (equivalent).
For instance, you can create a custom CSS class:
[code]
and apply this class to section.

[2019-01-11 16:43] #50 closed

[2019-01-12 02:03] RLesur commented on #49
Interesting thread. Custom column number should be feasible (and also custom row number with CSS Grid).

[2019-01-20 06:15] lgnbhl opened #51 "html_resume issues with months"
Thank you very much for this fantastic package!

Using Chrome and your skeleton, there is a bug with the line when adding months.
![html_resume_issue1](https://user-images.githubusercontent.com/29467632/51435879-75597a00-1cb4-11e9-97ef-e34a6e5d551a.png)

I tried with Month abbreviations. But sadly the date doesn't render on a single line and it doesn't look good on my own resume.
![html_resume_iss

[2019-01-20 08:13] RLesur commented on #51
@lgnbhl Glad you like pagedown!
As a hotfix, I can propose you to add the following CSS rules to your `Rmd` files:

    ---
    title: "Lijia Yu's resume"
    author: Lijia Yu
    date: "`r Sys.Date()`"
    output:
      pagedown::html_resume:
        # set it to true for a self-contained HTML page but it'll take longer to render
        self_contained: false
    ---

[code]

    Aside
    =======

[2019-01-20 10:36] lgnbhl commented on #51
It works perfectly. Thank you!

[2019-01-20 11:32] RLesur commented on #51
@yihui I wonder whether we should modify `resume.css` for this.

[2019-01-21 04:43] yihui commented on #51
I think we should.

[2019-01-22 22:05] Maschette opened #52 "hex sticker"
Have you got a hex sticker yet?
Can I have a try at designing one?

[2019-01-22 22:37] yihui commented on #52
Absolutely! We don't have one, and will definitely appreciate your help!!

[2019-01-22 22:58] Maschette commented on #52
great! do you have a color in mind you would like?

[2019-01-23 03:12] yihui commented on #52
I don't really have a preference. Black and white as the main color theme would be great for me (like the bookdown sticker: https://github.com/rstudio/bookdown#bookdown).

[2019-01-24 23:21] #51 closed

[2019-01-26 22:19] pzhaonet opened #54 "Footnote in the TOC (html_paged)"
It is exciting to start a new book with pagedown! Many thanks! I found a small issue: when footnotes are inserted in the chapter or section titles, they are supposed to appear only in the body. How could they avoid appearing at the bottom margins of the TOC pages?

Furthermore, it seems that the texts in the footnotes occupy some space in the TOC before rendered into the foot, resulting in large s

[2019-01-26 22:46] pzhaonet commented on #54
Thanks for the fast response. The Rmd source is here: <https://www.pzhao.org/book/r100q/r100q.rmd>. BTW, the page numbers of the titles with footnotes in TOC are wrong as well.

Please don't be too stressed about this issue. I don't think people often write books like this. Maybe footnotes in titles is not a good style. I will move them away from titles.

[2019-01-27 06:10] pzhaonet commented on #54
In case of the updates of my book, here is a screenshot showing the problems, including the wrong page number, the large blank area, and the footnotes which should appear only in the body rather than in TOC.

![2019-01-27-001](https://user-images.githubusercontent.com/4011804/51797365-52721d00-2202-11e9-894f-7deef43ed069.png)

[2019-01-27 07:11] RLesur commented on #54
- The wrong page numbers is a duplicate of #35
- The large blank area is a side-effect of the experimental footnotes support we introduced in pagedown (paged.js does not support footnotes for now). The footnotes handler used in pagedown is a dirty hack and is far from perfect: I will write a technical post for pagedmedia.org to detail its mechanism and its side-effects. Introducing a native suppor

[2019-01-28 17:50] mariakharitonova opened #55 "Multiple business cards in pagedown"
Hello, I am trying to create a number of cards on the same page, so that they can be used as name badges. I know I can create a single business card in pagedown but I am not sure how to create multiple in a single file. Can you advise? Thank you!

[2019-01-28 17:59] RLesur commented on #55
Do you try to repeat the same content on each card or do you need different contents on cards?

[2019-01-28 18:02] mariakharitonova commented on #55
Same format, but different content on each one (e.g. different names).

On Mon, Jan 28, 2019 at 11:59 AM Romain LESUR <notifications@github.com>
wrote:

[2019-01-28 18:05] RLesur commented on #55
Thanks, that's clear. We need to modify the business card template for this.

[2019-01-28 22:52] RLesur commented on #55
The answer is positive: I think it is feasible. I just wonder what would be the best implementation

- using `div`s with a custom class: the problem I see is for reusing the same content across cards (e.g. same address)
- using an HTML `template` & custom element populated by pandoc variables: it would be easier for reusing default content across cards

In both options, styling with CSS shouldn't

[2019-01-29 22:43] RLesur commented on #52
@Maschette The hex sticker is beautiful! Many thanks!

[2019-01-29 22:54] yihui commented on #52
Yes! It is a brilliant and beautiful design!

![pagedown gradient printer](https://user-images.githubusercontent.com/163582/51946195-72623600-23e6-11e9-9e68-e3a5881834a5.png)

[2019-01-29 22:54] #52 closed

[2019-01-30 17:02] RLesur opened #57 "broken link in README"
I thought I've understood the `tools/website.R` script but it appears that the link behind the JSS screenshot in the README does not work (https://pagedown.rbind.io/jss-paged/).
I surely did something wrong but I don't understand what.

[2019-01-30 18:13] yihui commented on #57
Don't worry. I'll take care of later.

[2019-01-30 22:18] yihui commented on #57
You did everything correctly. It was just that Netlify failed to deploy the site for some reason. I just manually triggered the deploy and the link is live now.

[2019-01-30 22:18] #57 closed

[2019-01-31 09:36] RLesur opened #58 "[html_paged] htmlwidgets"
For now, htmlwidgets are not rendered by `pagedown::html_paged()`.

I think there are many technical challenges with this issue.

The only success I've obtained is about the rendering synchronization, see https://github.com/RLesur/pagedown/commit/7608c1bfb405b3d3cdbbccedbe9dbf3b52571be7
But I didn't succeed to keep interactivity (I'm not familiar with htmlwidgets internals).

If there is a ninja.j

[2019-01-31 17:28] jbintz opened #59 "html_resume right column width has changed"
If you scroll to the resume example in the pagedown documentation on GitHub and click on the resume, you can see there are a few differences between the linked resume and the previewed one. Most significantly, in my opinion, is that the width of the side column in the linked resume is wider. It seems _too_ wide to me, but that's a matter of taste. If I knew how to adjust it for myself, I would do

[2019-02-01 11:12] RLesur commented on #59
Thanks for opening this issue: you're right, the screenshot was taken in an earlier stage of the development and does not reflect the current version.

For now, the only way to modify the right column width is to use a custom CSS file.
_This may change in the future: it should be feasible to introduce YAML parameters in order to adjust some values of the template (see also #41 on the same subject)

[2019-02-01 14:51] yihui opened #60 "The vanguard report example"
It will be amazing if we could replicate this with **pagedown**: https://dash-gallery.plotly.host/dash-vanguard-report/full-view

[2019-02-01 18:20] RLesur commented on #60
Very nice design... not too complex. There's an interesting challenge with the top menu.
The most difficult part would be to define the spec for the different components.

[2019-02-02 06:11] Xinzhu-Fang opened #61 "Specify icon for section title"
I understand that I can get an icon by`<i class="fas fa-brain"></i>`. What if I want to add an icon to the title? I tried "{data-icon="fa-table"}" from https://bookdown.org/yihui/rmarkdown/layout.html, no icon shows up

[2019-02-02 14:12] jbintz commented on #59
Excellent. Thanks for the reply.

[2019-02-02 14:12] #59 closed

[2019-02-03 00:40] RLesur commented on #61
I succeded to add an icon to the title resume by inserting it here: https://github.com/rstudio/pagedown/blob/2b46119f4a882aaa3b39e63229b0ce67d0a38f3e/inst/rmarkdown/templates/html-resume/skeleton/skeleton.Rmd#L49

For instance,
[code]

In your question, you mention the `brain` fa icon. This icon was introduced in Font Awesome 5.2.0 (see https://fontawesome.com/icons/brain and https://github.com/Fo

[2019-02-03 02:00] Xinzhu-Fang commented on #61
thank you

[2019-02-03 02:00] #61 closed

[2019-02-03 22:34] brentthorne opened #62 "Figure/Table Caption Number Error when `$body$` is placed within a `<div>`"
Hello,

I am working on some new templates to possibly add to pagedown and noticed that figure and table  caption numbering does not work when `$body$` is placed inside of a `<div>` html tag. I have tested this with the `pagedown::poster_jacobs`. The change to the html file is minimal:

[code]

This results in only the fig/tab label plus it's number missing, the caption itself is still working as

[2019-02-04 21:05] #55 closed

[2019-02-04 21:14] RLesur commented on #62
Hello @brentthorne ,

I haven't understood how to reproduce the issue: I tried several things and wasn't able to get the issue.
Could you post a reproducible example, please?

Thanks!

[2019-02-06 06:00] Xinzhu-Fang commented on #50
where I am supposed to define these css classes?

[2019-02-06 06:04] Xinzhu-Fang opened #63 "where I am supposed to define these css classes?"
where I am supposed to define these css classes?

_Originally posted by @Xinzhu-Fang in https://github.com/rstudio/pagedown/issues/50#issuecomment-460910293_

[2019-02-06 23:42] #27 closed

[2019-02-08 05:37] yihui opened #66 "When chrome_print() a page, what if the page is not accessible?"
e.g. How can we deal with 404? Should `chrome_print()` signal an error?

[2019-02-08 13:54] RLesur commented on #66
I had a quick look. I think this will be easy to solve.

If you inspect the log below, you can see that the response to the `Page.navigate` command (id: 4) is this json string:

[code]

So we have to test against `msg$result$errorText` in the `print_pdf()` function.

_sorry, I'm in a hurry, I cannot do it now (but this will be trivial for you :smile:)_

[code]

<sup>Created on 2019-02-08 by the [r

[2019-02-08 14:48] yihui commented on #66
No worries. I guess I can figure it out :) Thanks!

[2019-02-08 15:40] yihui commented on #66
Errors like `net::ERR_NAME_NOT_RESOLVED` can be captured (05d9b2b), but 404 is not actually treated an error, e.g.

[code]

[2019-02-08 16:06] RLesur commented on #66
oh! I forgot that with a 404 error, the webserver sends the 404 page. So, we need to deal with the `Network` domain I think.

[2019-02-08 17:39] cderv commented on #66
Yes I think it needs to listen to [`Network.responseReceived`](https://chromedevtools.github.io/devtools-protocol/tot/Network#type-InterceptionId) event and checks for `status` in the message received.
I tested with crrri and its event emitter mechanism. I can see the 404 code. I'll try to add it in `chrome_print`.

[2019-02-08 20:17] #66 closed

[2019-02-08 21:00] yihui opened #68 "How to print a local HTML file?"
`chrome_print('foo.html')` doesn't work, which is understandable, but `file://full/path/to/foo.html` doesn't work, either. So how can we print local HTML files?

Of course, we can launch a local server (e.g. `servr::httd()`), but I wonder if there are other ways.

[2019-02-09 10:32] cderv commented on #68
Just to share that local printing is working for me on windows. It was working with `crrri` and I just check with `pagedown`
[code]
gets me a _test.nb.pdf_ file (in the current working directory... 🤔 )

[2019-02-09 11:00] RLesur commented on #68
Same thing for me on ubuntu **only with self contained html document**.
[code]

This works well:
[code]

However, this does not work:
[code]
This is due to security restrictions. Opening the `html-paged.html` file with Chrome, I get the following error:
[code]

[2019-02-09 13:20] cderv commented on #68
ok. there is something going on with local html and paged.js.
[code]
timeout because the `pagedownListener` binding event is not reveived. The js script are not correctly found and executed.

So it is working for simple and standalone file, but not from html file that a ressource folder.

In fact the error comes from [CORS request](https://developer.mozilla.org/fr/docs/Web/HTTP/CORS) that does not

[2019-02-09 16:17] EnricowithR opened #69 "Error to install pagedown on Rstudio Cloud with websocket"
I am trying to install pagedown on Rstudio Cloud and I get the following error:

Installing package into ‘/home/rstudio-user/R/x86_64-pc-linux-gnu-library/3.5’
(as ‘lib’ is unspecified)
ERROR: dependency ‘websocket’ is not available for package ‘pagedown’
* removing ‘/home/rstudio-user/R/x86_64-pc-linux-gnu-library/3.5/pagedown’
installation of package ‘/tmp/RtmpsjhrAU/filec31a8a761f/pagedown_0.1.

[2019-02-10 12:57] cderv commented on #69
For reference, this also has been posted on the community
https://community.rstudio.com/t/error-to-install-pagedown-on-rstudio-cloud-g-internal-compiler-error-killed-program-cc1plus/23465

[2019-02-11 14:43] Yufei-Z opened #70 "cannot excute"
processing file: test.Rmd
  |................                                                 |  25%
   inline R code fragments

  |................................                                 |  50%
label: setup (with options)
List of 1
 $ include: logi FALSE

  |.................................................                |  75%
  ordinary text without R code

  |........................

[2019-02-11 15:18] yihui commented on #70
Please do read README: https://github.com/rstudio/pagedown#pagedown pagedown requires a higher version of Pandoc.

[2019-02-11 15:18] #70 closed

[2019-02-13 10:53] EnricowithR commented on #69
the solution is to install in Rstudio cloud Pagedown from Cran and not from github

[2019-02-13 10:53] #69 closed

[2019-02-14 04:27] yihui commented on #69
@RLesur Given that we don't know when the **websocket** package will be released to CRAN, I wonder how difficult it would be to switch to **httpuv** instead. I know you have already experimented with it: https://gist.github.com/RLesur/522e0e7e7b75826e2c9d35bdfcaa1a89

[2019-02-14 06:58] RLesur commented on #69
IMO the use of a httpuv server+a browser as a websocket client shouldn't be too difficult.

[2019-02-14 17:57] yihui commented on #68
PR #71 should fix this issue. @cderv Please also feel free to review the PR. Thanks!

[2019-02-15 19:37] #68 closed

[2019-02-15 20:36] cderv commented on #68
Oh thanks! I did not had time during this week. Sorry for that.
Thanks @RLesur for the review.

[2019-02-15 21:22] yihui commented on #68
No worries at all. Please don't feel obligated to any tasks I assign to you. If there is anything urgent, I'll just move on without waiting. Usually nothing is urgent, though.

[2019-02-18 15:13] jdbarillas commented on #63
Based on the [documentation](https://pagedown.rbind.io/#the-css-overriding-mechanism), it seems like you'd create a separate CSS file and include it in the output format:

[code]

[2019-02-18 19:27] Xinzhu-Fang commented on #63
Thank you.  Should read more caredully as always.
In my particular this case,  I did this :
[code]
then it worked.

[2019-02-18 19:27] #63 closed

[2019-02-20 20:27] dktanwar opened #72 "::: aside ::: don't work"
Example for reproducibility:

[code]

[2019-02-20 23:36] RLesur commented on #72
I am not sure to understand well this issue.
IMO, the `aside` pandoc div _works_ as it is expected to work (even if the result of this example is ugly).

Here's a screenshot I've obtained from the example (I've added some colors on elements to highlight them)
![image](https://user-images.githubusercontent.com/19177171/53132350-c38dc180-356f-11e9-8d61-7561f2bdb2da.png)
With this screenshot, you can

[2019-02-21 08:14] dktanwar commented on #72
No.

I got:

![screen shot 2019-02-21 at 09 13 58](https://user-images.githubusercontent.com/8986859/53153654-1b044f80-35b9-11e9-8083-201e4903215e.png)

[2019-02-21 08:15] dktanwar commented on #72
Here is the `Rmd` `and `html` files:

[test.zip](https://github.com/rstudio/pagedown/files/2888263/test.zip)

[2019-02-21 16:52] RLesur commented on #72
Thanks for these extra informations: my guess is about your Pandoc version.
As stated in the [README file](https://github.com/rstudio/pagedown#pagedown), you need Pandoc >= 2.2.3 to use pagedown.
Could you execute `xfun::session_info('rmarkdown')` and paste the result in this thread?

[2019-02-21 17:04] dktanwar commented on #72
You got it! That was the problem! Thank you so much!

Good to know about the `xfun` package..

[2019-02-22 09:35] dktanwar commented on #72
Another issue:

I am only able to use `aside` thing when I am having this structure:

[code]

How to put `aside` comment for any sentence?

What I would like is:

[code]

[2019-02-24 13:52] cderv commented on #69
Just to let you know that I began working on this. It is working but
* httpuv server needs a browser opened to run
* I do not manage to make it work with chrome headless so it open a chrome browser not headless to be able to  apply the workflow.

basically, I used httpuv to make a websocket tunnel to chrome. The code has not change very much

R <-> httpuv server in a chrome browser  <-> chrome hea

[2019-02-24 23:49] RLesur commented on #72
I'm not sure to understand well your need.
Is something like that suits your need?

    - This is comment [This is a side comment for above]{style="float:right;"}

[2019-02-25 11:01] dktanwar commented on #72
Sorry for being not clear.

What I am trying to do is, put

[code]

The comment should go in the aside "grey" bar.

[2019-02-25 15:45] RLesur commented on #72
Thanks for your explanations.

First of all, the CSS float property has a limited list of values (`aside` is illegal), see https://developer.mozilla.org/en-US/docs/Web/CSS/float#Values

From my understanding of your need, I think that something like that could achieve your goal:

    - This is comment [This is a side comment for above]{style="position:absolute;left:calc(var(--main-width) + var(--s

[2019-02-26 07:24] dktanwar commented on #72
Yes, this is what I was looking for. Thank you!

I will update you here with a link to my CV, in case you would like to use as an example..

[2019-02-26 07:36] dktanwar opened #76 "Issues with adding altmetric scores"
Adding altmetric scores:

[code]

It wors with `.Rmd` --> `.html_document`, but **not for `pagedown::html_resume`**

[2019-02-26 11:16] RLesur commented on #76
This comes from the fact that Paged.js builds the document before the altmetric badge is retrieved.
You need to synchronize the altmetric JavaScript library with the Paged.js library by using the `altmetric:show` event as described in the [altmetric badge documentation](https://api.altmetric.com/embeds.html).
IMO, the most simple way is:
- remove the Paged.js auto mode (with `window.PagedConfig.au

[2019-02-26 11:58] dktanwar commented on #76
Basically, you want me to try to do this?

[code]

[2019-02-26 12:01] dktanwar commented on #76
And to fire the even of the altmetric, I should add this code to the `.Rmd`?

[code]

[2019-02-26 12:04] RLesur commented on #76
Absolutely not! I will document an example.
@yihui I think it is possible to add a native support for the altmetric elements. I don't use altmetric and I don't know whether it is relevant for pagedown

[2019-02-26 12:08] #72 closed

[2019-02-26 12:10] dktanwar commented on #76
OK. Sorry, I am not an advanced user of `JS` and `css`.

In case you would like to use it as an example [CV](https://dktanwar.github.io/CV/ds.html).
I personally enjoyed transforming my CV and it looks amazing. Thank you so much @RLesur!

Looking forward to adding altmetric info as well.

[2019-02-26 12:28] RLesur commented on #76
@dktanwar No problem. Synchronizing JS libraries is always a hard task.
Thanks for your CV. I understand well the previous issue.

[2019-02-26 15:08] RLesur commented on #76
Here's how to implement the synchronization with altmetric and Paged.js:

    <script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>

    <div class='altmetric-embed' data-badge-popover='bottom' data-doi='10.1016/S0140-6736(11)61619-x'></div>

[code]

Be aware that this script will only work only for a single badge.

[2019-02-26 15:17] dktanwar commented on #76
![screen shot 2019-02-26 at 16 16 50](https://user-images.githubusercontent.com/8986859/53423613-f7d70700-39e1-11e9-9511-ecac95bbdecf.png)

[2019-02-26 15:20] RLesur commented on #76
Tweak the CSS for this new element: try to change the `display` property of the `div`

[2019-02-26 15:25] RLesur commented on #76
or use a `span` instead of a `div`.
altmetric add extra styles/elements through JavaScript: you have to find the good mean to embed it properly

[2019-02-28 21:03] yihui commented on #76
I have never heard altmetric before, so I don't know, either. I'll let you decide.

[2019-03-01 16:34] RLesur commented on #76
For now, I think that we should focus on the JS libraries used in the R Markdown ecosystem.
The highest priority is https://github.com/rstudio/pagedown/issues/58

[2019-03-07 13:39] bevalle opened #80 "chrome_print missing text in PDF, not with Google Chrome"
When using the `pagedown::chrome_print()` function with a large html created with `xaringan`, some content is missing in the pdf file created with this function whereas I do not face this problem if I print the pdf with Google Chrome.

![bug1_pagedown](https://user-images.githubusercontent.com/18534823/53960267-1aee6e80-40e6-11e9-9525-f41af62bbff7.png)

I spent time on trying to reproduce the erro

[2019-03-07 15:44] yihui commented on #80
First, please make sure you are using the latest versions of **xaringan** (>= 0.9) and **pagedown** (>= 0.2). If you update these packages, try `pagedown::chrome_print('your-slides.Rmd')`. If the text is still missing, try a larger `wait` value, e.g. ``pagedown::chrome_print('your-slides.Rmd', wait = 5)``.

[2019-03-07 16:15] RLesur commented on #80
@bevalle I am not able to reproduce the issue on win7

[code]

<sup>Created on 2019-03-07 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

Can you had extra infos about:

- Chromium/Chrome version (mine: Version 72.0.3626.121)
- attach as a file the log of `chrome_print(..., verbose = 2)`

[2019-03-07 16:37] bevalle commented on #80
Thanks for the replies.
Updating to the very last version of `xaringan` and a Rstudio restart gave a perfect result 🎉

[2019-03-07 16:37] #80 closed

[2019-03-07 16:44] yihui commented on #80
One more time: https://yihui.name/en/2017/05/when-in-doubt-upgrade/ 😂

[2019-03-07 16:49] bevalle commented on #80
I updated today to the last version of `xaringan` and still faced the problem.
I just needed to restart Rstudio to profit the strength of `pagedown` and simultaneously feeling ashamed of my error.

[2019-03-07 16:52] yihui commented on #80
No need to feel ashamed. It is _extremely_ common to forget to update packages or restart the R session! You are certainly not alone :)

[2019-03-08 04:24] Xinzhu-Fang opened #82 "chrome_print() only prints the first page of a resume"
`pagedown::chrome_print('https://rstudio.github.io/pagedown/html-resume.html')` only prints the first page of the example resume.

The reason I try to use `chrome_print()` instead of simply printing from chrome is that I cannot submit the pdf printed from chrome on some job application portal. I get this error message for doing that:

The pdf generated by `chrome_print()` is accepted but it only i

[2019-03-08 04:35] yihui commented on #82
`xfun::session_info('pagedown')` please.

[2019-03-08 04:47] Xinzhu-Fang commented on #82
R version 3.4.4 (2018-03-15)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200), RStudio 1.1.442

Locale:
  LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252
  LC_MONETARY=English_United States.1252 LC_NUMERIC=C
  LC_TIME=English_United States.1252

Package version:
  base64enc_0.1.3  bookdown_0.9     digest_0.6.15    evaluate_0.12    gl

[2019-03-08 04:55] Xinzhu-Fang commented on #82
I realized that you released a new version yesterday so I did `remotes::install_github('rstudio/pagedown')
` to update.  Now when I do `pagedown::chrome_print('https://rstudio.github.io/pagedown/html-resume.html')` I get this error:

my current session info:

Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200), RStudio 1.1.442

  LC_COLLATE=English_United States.

[2019-03-08 05:00] yihui commented on #82
One more time: https://yihui.name/en/2017/05/when-in-doubt-upgrade/

[2019-03-08 05:02] yihui commented on #80
Look: #82 (another case, within 12 hours). 😁

[2019-03-08 05:34] Xinzhu-Fang commented on #82
I updated packaged and is now able to print that exampel resume succesfully. I am still having touble with mine:

Will try play with it a little more and ask for help if needed
Thank you for the lesson

[2019-03-08 14:58] yihui commented on #82
We have also observed the timeout issue for a few times on Windows, but it feels random. If you retry, you might succeed. If it keeps failing, please provide a URL or the HTML file, and we can see if we are able to reproduce the issue. Thank you very much!

[2019-03-08 18:51] Xinzhu-Fang commented on #82
It keeps failing. https://xinzhu-fang.github.io/resume/index.html

[2019-03-08 18:59] yihui commented on #82
Thanks! This is reproducible to me, too (I don't know why yet). Reopening this issue. Cc @RLesur

[2019-03-08 19:01] RLesur commented on #82
@yihui I'll have a look tonight

[2019-03-08 20:27] RLesur commented on #82
My guess is that the bug comes from the use of `self_contained: true`.

@Xinzhu-Fang Could you try to render the Rmd file with `self_contained: false`?

[2019-03-08 20:56] Xinzhu-Fang commented on #82
I tried this
[code]
A new folder called index_files was then created. The issue persists. When I tried to knit again, I got errors:

  path[1]="index_files/paged-0.2.1": Access is denied
Calls: <Anonymous> ... html_dependencies_as_string -> lapply -> FUN -> normalizePath
In addition: Warning messages:
1: In dir.create(target_dir) :
  'index_files\font-awesome-5.1.0' already exists
2: In dir.create

[2019-03-08 22:17] RLesur commented on #82
Thanks, I was wrong: `self_contained: false` is not the problem.

There's something really weird in your HTML file. I think this is linked to a problem with your R (packages) installation.

I've extracted the `config.js` file embedded in your HTML page:
[config.js.txt](https://github.com/rstudio/pagedown/files/2947573/config.js.txt) (I needed to add the `.txt` extension to upload it on GH).

This

[2019-03-09 04:47] Xinzhu-Fang commented on #82
That' s right, I started my job application process last month. I don't think I modified my R configuration except using a dark theme but that doesn't mean anything: I have a bad memory and I don't really know what I am doing most of the time. How can my problem be solved?

[2019-03-09 05:11] Xinzhu-Fang commented on #82
I have a git repository for my blogdown website and a directory in public called resume containing the rmd, html, and css for my resume (you are disgusted by my messing with public, don't you). I am fine with adding you to this repo as a collaborator if that helps.

[2019-03-09 13:14] RLesur commented on #82
Don't worry. Maybe the following actions could work.

1. In your RStudio project, try to pass the name of your **`Rmd`** file (not the HTML file) to the `pagedown::chrome_print()` function. For instance:
[code]
    This might work.

1. If that doesn't work, create a new RStudio project. In this new void RStudio project, create a new `resume.Rmd` file. Then, try `pagedown::chrome_print("resume.Rmd"

[2019-03-09 16:56] Xinzhu-Fang commented on #82
Both methods gave me a pdf  of three pages that only has side bar

Warning messages:
1: MathJax doesn't work with self_contained when not using the rmarkdown "default" template.

In additon, the second method gave me

I added  `self_contained: false` back to the second method, the MathJax warning message disappeard, but the pdf doesn't change

[2019-03-10 00:27] Xinzhu-Fang commented on #82
I am so sorry. Your methods worked. I have this accessibility setting on windows that works terrible with the printed pdf. It has been working well with other files/programs but I should have suspected. Thank you so much for the help!

[2019-03-10 00:27] #82 closed

[2019-03-10 00:44] RLesur commented on #82
@Xinzhu-Fang No problem. We should mention that pdf files generated by Chrome are not accessible.
We haven't yet checked that html files produced with pagedown are accessible. Tell us if there is any other accessibility issue.

[2019-03-10 18:53] RLesur opened #83 "[html_resume] email obfuscation"
It seems that in the html generated by `pagedown::html_resume()`, the emails are not obfuscated.
See for instance, https://github.com/rstudio/pagedown/blob/7dacf8df0566da7f5281fd8a76d96abab82c8bd2/html-resume.html#L30
Many static website services obfuscate them but I wonder whether we should use by default the Pandoc's option `--email-obfuscation` or document the use of this option.

[2019-03-11 12:18] yves-amevoin opened #84 "[html_paged] Using period (.) in a section title crashes Paged.js"
Thanks for the pagedown package which is simply amazing. I am using the package for writing a little doc using `html_paged`, and I really appreciate it. I don't know if it is worth to mention, but I noticed a section should not have a dot  "."  at its end, otherwise it can lead to losing the "page format".  Here is a minimal example:

[code]

[2019-03-11 12:25] RLesur commented on #84
Thanks! I've isolated the problem: this is a bug in one of our JS scripts.

[2019-03-11 12:37] RLesur commented on #84
The problem is here: https://github.com/rstudio/pagedown/blob/1ede0069a4050e8672c168375abf7c7bc0e0b1c7/inst/resources/js/config.js#L33

Chrome console log:
[code]

[2019-03-11 14:04] RLesur commented on #84
For the record, Paged.js has the same bug here: https://github.com/rstudio/pagedown/blob/1ede0069a4050e8672c168375abf7c7bc0e0b1c7/inst/resources/js/paged.js#L26192-L26193

[2019-03-11 14:47] RLesur commented on #84
@AKYves Could you install the development version and tell me if this is OK for you? It works for me with Chrome 72.0.3626.121 (windows).

[2019-03-11 15:26] AKYves commented on #84
Thanks much @RLesur . It works now. I am using the same web browser on linux. :+1:

[2019-03-11 15:44] AKYves commented on #84
Please @RLesur  and sorry to come back again, I just want to mention that I noticed in #35 there were an issue with page references in table of contents. But now, every section is linking to page 0. I really don't know if it is the same issue or if it is related to this upgrade. Thanks.

[2019-03-11 15:51] RLesur commented on #84
@AKYves I didn't notice that... thanks!

[2019-03-11 21:52] RLesur commented on #84
Sorry, I've underestimated the difficulty of this issue.
For now, this issue is not fixed and I reopen it.

### Description of the issue
`pagedown::html_paged()` uses the same Pandoc's extensions as `rmarkdown::html_document()`, in particular the [`ascii_identifiers`](https://pandoc.org/MANUAL#extension-ascii_identifiers) extension to produce automatic identifiers from titles.
With this extension,

[2019-03-11 23:34] RLesur commented on #58
I succed to synchronize htmlwidgets and Paged.js here: https://github.com/rstudio/pagedown/compare/master...RLesur:htmlwidgets
But the result is a total mess: widgets are not properly sized, plot.ly is broken by Paged.js...
So, synchronisation of htmlwidgets and Paged.js is a big fail.

I think that another way could be investigated: embedding widgets in iframes.
The mechanism would be very simila

[2019-03-12 11:19] AKYves commented on #84
Waouh... Cool... Thanks much @RLesur ! I will stick to the first option, and create a custom identifier.

[2019-03-18 08:16] ColinFay opened #85 "Using a non standard character in chrome_print() input returns an unclear error message"
Hey,

First of all, thanks for the amazing chrome_print(). I just LOVE this functionality!

I'm using `chrome_print()` to print shiny app elements which are bookmarked.

I noticed this strange error when using `"` in the url inputs (taking the rstudio gallery example below), which is probably to be found with other parameters.

[code]

But it's solved if I use `utils::URLencode` on the URL

[code]

[2019-03-18 12:56] RLesur commented on #85
Glad you love the chrome_print() function!
Thanks for this bug report!
We'd love a PR! However, I think that the call to `utils::URLencode(input)` should be inserted here: https://github.com/rstudio/pagedown/blob/master/R/chrome.R#L73

[2019-03-18 14:23] cderv commented on #85
Let’s not that the issue comes also from the fact that we build Json message manually with `sprintf` using `”` as demiliting string character.

Here ,  If `'` and `”` are inverted in the call it works.
[code]

So yes encoding the url work, but we may encounter other issue. However I am not sure there is a lot of other cases where input from users can impact the message send to chrome :thinking:

[2019-03-18 15:49] yihui commented on #85
I agree with @cderv: we should definitely call `toJSON()` to guarantee the JSON string is valid when there are dynamic values in the string (`sprintf()` is not robust) just like

https://github.com/rstudio/pagedown/blob/fc26c2f77a212a62e334ba0f1c6f4cf36a14aaa3/R/chrome.R#L344

Please feel free to submit a PR to use the helper function `to_json()` to process other messages that contains dynamic R v

[2019-03-18 19:39] RLesur commented on #85
Good catch @cderv! :100:

[2019-03-23 14:49] #85 closed

[2019-03-23 21:15] RLesur commented on #35
I finally found the problem: this is a Chrome redraw issue. This seems to be a well-known bug.
There are many available hacks to solve this problem (try to Google _Chrome redraw issue_). Only [this one](https://stackoverflow.com/a/24753578/6500804) works for me with Chromium/Ubuntu.

I will upgrade Paged.js to 0.1.31 soon. There is one breaking change (Paged.js CSS variables are now prefixed) but

[2019-03-23 22:52] #35 closed

[2019-03-23 22:52] #46 closed

[2019-03-23 23:06] paceafenet opened #89 "How to remove urls inserted after links?"
Based on other R Markdown outputs, I would expect that [tag](html address) would read as 'tag' in the new document. The full url is still shown in the rendered document (see html_paged example in Readme).

[2019-03-24 00:13] RLesur commented on #89
This is the expected behaviour in `pagedown::html_paged` documents.
The motivation is detailed in [the documentation](https://pagedown.rbind.io/#links), see section 4.3 _Links_.

If you want to get rid off these urls, please insert this CSS rule in your documents:

[code]
Therefore, the urls will not be printed (I still don't understand the need of using links in this context).

[2019-03-24 00:13] #89 closed

[2019-03-25 18:38] yihui commented on #35
Excellent. Thanks!

[2019-03-26 12:06] ignacio82 opened #90 "code_folding?"
Is there any plan to add a `code_folding` option to `pagedown::html_paged:` ? I tried the following but it did not work as expected:

[code]

[2019-03-26 14:56] yihui commented on #90
Sorry, but no. The main goal of **pagedown** is for printing. You cannot fold code on paper, so it is unlikely that we will support code-folding in **pagedown**.

[2019-03-26 22:27] RLesur commented on #90
I agree: the goal of **pagedown** is to paginate a document using web technologies. The main difference with a html document is that pages have a limited available height (a web page has no vertical constraint).

`pagedown::html_paged()` uses **Paged.js** as a rendering tool. Once rendered, we cannot change the content height without breaking the document.
The main problem is that the current impl

[2019-03-27 14:25] ColinFay opened #91 "Using chrome_print() inside a Shiny App"
Hey,

I was thinking about implementing a `shinyPrint()` function that would allow capturing screenshots of current divs of the app.

My first try was:

[code]

On our old friend the Old Faithful Geyser Application :

[code]

But when I try to run that, I have a blank output:

<img width="1097" alt="Screenshot 2019-03-27 at 15 13 07" src="https://user-images.githubusercontent.com/17936236/55082933

[2019-03-27 14:43] yihui commented on #91
Running `chrome_print()` inside any **later** tasks (such as a Shiny app, because **shiny** uses **httpuv**, which uses **later** to run the server) is very likely to be problematic because of this:
https://github.com/rstudio/pagedown/blob/fa26bc5a7dfad43aa8d9e62e512ee339e68e3b98/R/chrome.R#L129

This is the major caveat of `chrome_print()`. Hopefully https://github.com/r-lib/later/pull/84 will sa

[2019-03-27 23:49] RLesur opened #92 "Mike Morrison's Poster Template"
IMO, this is a really convincing design.
https://twitter.com/mikemorrison/status/1110191245035479041?s=19

[2019-03-28 07:46] ColinFay commented on #91
Ok, so... let's wait :)

[2019-03-30 14:55] SwampThingPaul opened #93 "resume template hyperlink text color?"
Is there a way to change the hyperlink text color in the pagedown resume template. Right now the hyperlink looks likes a "visited" page regardless if the page is visited or not. I have dug through the CSS files but couldn't find a specific argument for changing this feature. Is there a way to change this in the css file? Also changing the text color in HTML/rmarkdown language doesn't work.

[2019-04-01 05:36] cderv commented on #93
You can change the color link with css like any other html.
You can do it inside the document itself from the Rmd file using a css chunk at the beggining
Ex. from template to change url color from blue to green:
[code]

You can also provide a custom css file with your rule that you would put first in the `css` field from the yaml header, following guidelines https://pagedown.rbind.io/#the-css-over

[2019-04-01 08:27] Dr-Joe-Roberts opened #94 "How to use academic icons?"
Hello,

Is it possible to incorporate academicons (https://jpswalsh.github.io/academicons/) into a pagedown CV? If so, how?

Thanks.

[2019-04-01 10:26] RLesur commented on #94
As in any R Markdown HTML format, it is possible to use academicons. I see two solutions, pick the one you prefer.

### Use the CSS served by RawGit

As stated in [the academicons documentation](https://jpswalsh.github.io/academicons#alongside-font-awesome), you can use the RawGit service to refer to its CSS (you need an internet connexion). You need to modify your YAML header as follows:
[code]
T

[2019-04-01 10:26] #94 closed

[2019-04-01 10:48] Dr-Joe-Roberts commented on #94
Fantastic, both work well for me. I appreciate the quick response, thank you.

[2019-04-02 08:01] Edouard-Legoupil commented on #42
When I disable highlight then carriage return are also disable see - https://edouard-legoupil.github.io/unhcr_paged/

[2019-04-02 08:45] Edouard-Legoupil commented on #42
Just a note to mention than when I disable `highlight` then carriage return are no taken in account within chunks - see- https://edouard-legoupil.github.io/unhcr_paged/

[2019-04-02 12:58] Dr-Joe-Roberts opened #95 "Adding blank spaces using custom CSS"
Hello, is it possible to add spaces between the headings and content within sections? I want to achieve the spacings shown in the education section of the image, but in the research experience section. I tried to use custom CSS, but couldn't achieve the desired result. Many thanks.

![Example](https://user-images.githubusercontent.com/46022022/55404016-f6ec4480-554e-11e9-90af-f181d41464ed.png)

[2019-04-02 14:37] koliii opened #96 "How to use pagedown html feature to print table in landscape format?"

[2019-04-02 14:59] #93 closed

[2019-04-02 18:09] RLesur commented on #42
Sure, you need to add this CSS rule:
[code]

[2019-04-02 21:24] RLesur commented on #96
There are plenty of great resources to learn CSS on the web: StackOverflow, [MDN](https://developer.mozilla.org/), [CSS-Tricks](https://css-tricks.com/)... and obviously Google.
You can easily find many solutions to your problem.

My favourite trick to answer this question is:
- rotate by 90deg using the [`writing-mode`](https://developer.mozilla.org/docs/Web/CSS/writing-mode) property with the `v

[2019-04-02 21:24] #96 closed

[2019-04-02 21:42] RLesur commented on #95
I think that this rule should do the trick:

[code]

[2019-04-03 04:59] koliii commented on #96
Surprisingly, using this technique, my document processing is going on and on and on. In the Mozilla browser, the 50 pages document has already produced empty 350 pages and still continuing.

[2019-04-03 05:53] RLesur commented on #96
This is an infinite loop. This problem is often observed when the content height is greater than the page height and `page-break-inside: avoid;` is used.
The most recent versions of **Paged.js** fix some of them.
I recognize that large or long contents are challenging: you have to control their width/height.
In this case, I like to use `iframe`s as in https://github.com/rstudio/pagedown/pull/87

@

[2019-04-03 07:07] Dr-Joe-Roberts commented on #95
Many thanks for your help. The rule provided in your previous post does introduce a space where required, but it pushes the heading for my consise list back to unwanted position (see image). Is there any way around this?

![Example](https://user-images.githubusercontent.com/46022022/55459385-5ac24c00-55e7-11e9-8145-bf5308108a9f.png)

This is how I have written the section in markdown.

![Screensho

[2019-04-03 08:11] koliii commented on #96
I used bookdown instead of pagedown.

[2019-04-03 08:39] RLesur commented on #96
I am not sure to understand your problem. Could you send a reproducible example?

[2019-04-03 11:43] RLesur commented on #95
As @yihui would certainly say, we are trying to "[fold the blinds](https://giphy.com/gifs/frustrated-annoyed-programming-yYSSBtDgbbRzq)" :smile: .

I hope this new rule will be good:

[code]

[2019-04-05 19:12] Dr-Joe-Roberts commented on #95
Apologies for the delayed response, I have been at a conference with limited access to my laptop.

I have tried the new rule provided in your latest post, but it doesn't seem to have made any difference? There is still no space between the 'key responsibilites' and the list.

[2019-04-05 20:18] RLesur commented on #95
No worries!
When I tested with your example, there was no space in the concise format.
I've noticed once that depending on the length of the "place" content and the "location" content, an extra space could be added. I wonder whether it could explain what you observed.

Would it be possible for you to share a reproducible example?

[2019-04-05 20:57] Dr-Joe-Roberts commented on #95
Thanks for such a quick response, I really appreciate the amount of help you are providing. I hope these screenshots can suffice for a reproducible example, if not please just let me know and I will be able to provide some tomorrow.

Concise bullet points, no space:
![Screenshot 2019-04-05 at 21 52 01](https://user-images.githubusercontent.com/46022022/55655992-9fb7cf80-57ed-11e9-8bbe-ffb13683bb8b

[2019-04-05 21:43] RLesur commented on #95
It would be much more helpful for me to help you if you could provide the Rmd file (or a link to the html file on a web server).

[2019-04-05 21:51] Dr-Joe-Roberts commented on #95
Yes, of course, my apologies. Please find the relevant files here: https://github.com/Dr-Joe-Roberts/curriculum-vitae

[2019-04-09 11:07] SwampThingPaul opened #98 "page number for resume?"
Is there a way to add page number for each unique page in the resume template?

[2019-04-09 12:44] jdbarillas commented on #98
You can add the page number using the [CSS overriding mechanism](https://pagedown.rbind.io/#the-css-overriding-mechanism). What I've done is create my own CSS file where I add the page counter and then reference it within my YAML header.

This is my `add-pages.css` file
[code]

And my YAML header used within the `resume` template

[code]

You can change the placement of the page number using any o

[2019-04-10 08:50] #91 closed

[2019-04-17 12:08] #98 closed

[2019-04-24 07:23] RLesur opened #99 "paged.design templates"
New templates to be used with Paged.js are available https://twitter.com/John_Tax/status/1120720291267776512?s=19
We could embed some of them in pagedown.

[2019-05-10 18:18] brentthorne opened #101 "Adding "Chapter " to each Section Heading like Bookdown"
Hello!

I am currently making a thesis template for my university using pagedown and I need to have each first level section header look like:

[code]

[code]

bookdown allows this to be changed in the _bookdown.yaml file [link](https://bookdown.org/yihui/bookdown/internationalization.html) and I was wondering if there is something similar in pagedown that I am missing, or if it should be done a d

[2019-05-10 19:58] brentthorne opened #102 "[Suggestion] Optional List of Abbreviations/ Symbols"
Hello!

As I am working on a thesis template I noticed there is no option to add a "list of symbols" or abbreviations. I am slowly learning how it works but I figured I would throw the suggestion out to you guys in hopes that maybe you can implement it sooner and better than I could.

Thanks again

[2019-05-13 03:58] brentthorne commented on #101
So I have accomplished this in a somewhat hacky way and I am sure there is a better solution, however I will show what I did to have it working for now.

For section title that I wanted a  "Chapter " label for I simply added the class `.chapter` and used `:before`  in the css template to define the content to be printed before the title. Here's the code:

**rmd**
[code]

**css**
[code]

The only i

[2019-05-13 09:23] RLesur commented on #101
Hi @brentthorne ,

Sorry for the delay. I would have made the same proposal as yours.
I do not consider that using a `::before` pseudo-element is a hack (even if one could argue that `Chapter` brings some semantic content). FMPOV, it is perfectly legal.

I think that it is possible to achieve your goal using a Paged.js hook. It is well described in this document https://www.pagedmedia.org/paged-js

[2019-05-13 12:08] RLesur commented on #102
Great question, thanks!
AFAIK, the [Pandoc document model](http://hackage.haskell.org/package/pandoc-types-1.17.5.4/docs/Text-Pandoc-Definition.html) does not support abbreviations (see also [here](https://pandoc.org/MANUAL#extension-abbreviations)).

One solution would be to give a try to the HTML5 [`abbr` element](https://developer.mozilla.org/docs/Web/HTML/Element/abbr).
Here is a quick and dir

[2019-05-13 15:19] brentthorne commented on #101
This is great thank you!

My only issue now is that I am unsure of how to implement it somewhere other than the Rmd file. I tried to use it as a `<script>` in the template.html but it did not work. Is there a place you preffer to have these bits of js placed? I am currently working on a `pagedown::thesis-paged` template on my [fork](https://github.com/brentthorne/pagedown) and want to make sure I

[2019-05-13 20:47] RLesur commented on #101
What a great news! Thanks!
The dedicated file for Paged.js hooks is https://github.com/rstudio/pagedown/blob/master/inst/resources/js/hooks.js
You can simply add a new Paged.js handler that registers hooks in this file.
The `hooks.js` file is already attached as a HTML dependency here: https://github.com/rstudio/pagedown/blob/11b75c9879dc084e00a83af8e50b9face6a2478c/R/paged.R#L94-L100
If there are

[2019-05-14 05:43] brentthorne commented on #101
Got it working thanks a bunch!

[2019-05-14 05:43] #101 closed

[2019-05-18 01:14] brentthorne commented on #102
So I tried using the js you wrote and it is great! My only issue is that it places the list of abbr at the end of the document. Is there a way for it to be added the same way that the lof or or lot to the toc?

Thanks again for the help, the thesis template is getting close to be pull request ready!

Cheers

[2019-05-18 03:35] brentthorne opened #103 "output.html does not render in google chrome or chromium, but works in firefox"
Not sure if this is the case for other people as well but `html_paged` and `jss_paged` output.html files do not open in google chrome or in chromium; however, they work well in firefox :confused:

The `html_poster` template works fine in all posters though. Also all of the [posterdown](github.com/brentthorne/posterdown) html output options work fine but they use the `html_poster` not `html_paged`

[2019-05-18 07:01] RLesur commented on #103
Right now, I am working on documents built on top of `html_paged` and all work well for me.
During the last days, I've worked on different environments: windows 7, Ubuntu and docker containers (debian testing). In all these environments, I was able to produce pdf with the last chrome stable.

In order to test your config, could you run the following commands:
[code]
Do you get two pdf files?
Are t

[2019-05-18 07:43] RLesur commented on #102
Of course!
There is a dedicated `div` in `html_paged` here: https://github.com/rstudio/pagedown/blob/712540ad9f883d078cf19752b806a70cacd1f66c/inst/resources/html/paged.html#L175

You need to replace this line of the hook:
[code]
with
[code]

[2019-05-19 17:35] brentthorne commented on #102
Works great!

[2019-05-20 18:09] chendaniely opened #104 "Add chrome binary names in (arch) linux"
In the `find_chrome` function the name of the chrome binaries are hardcoded as ` c("google-chrome", "chromium-browser", "chromium")` what would be the best way to add additional binary names to the character vector?

For example, on Arch linux my binary is named `google-chrome-stable` is it better to send a PR with that hardcoded binary? or have a function default parameter something like `functio

[2019-05-20 22:04] yihui commented on #104
I guess you are actually using the `chrome_print()` function. If that is the case, you can `chrome_print(..., browser = 'google-chrome-stable')`.

I'm okay with adding `google-chrome-stable` to the candidate list (please feel free to submit a PR).

[2019-05-21 02:29] #104 closed

[2019-05-21 02:49] chendaniely commented on #104
Yes, I am using `chrome_print()`, thanks for the `browser = 'google-chrome-stable'` solution.

[2019-05-27 15:43] brentthorne commented on #102
So in implementing the js hook for abbreviations I have run into a problem, the 'list of abbreviations' page always appears even when there are no abbreviations in the document. The TOC also does not find/ include the loa page but does include lof and lot. Any suggestions? The latest progress has been pushed to my fork [here](https://github.com/brentthorne/pagedown).

[2019-05-27 16:31] brentthorne commented on #103
The pdf file I get are correct on my main machine as well as when I test on windows 10. However, the issue is not really the chrome print functionality, it is the ability to view the `output.html` in the chrome web browser itself.

I have now tested both my [fork](https://github.com/brentthorne/pagedown) as well as this repo of pagedown and the behaviour is the same. The Rmd will knit without any

[2019-05-27 19:07] RLesur commented on #103
Thanks, this is very useful!

My guess is that you tried to open the `output.html` file without using a local web server.
In other words, in the address bar, I think you have `file://.../output.html` instead of `http://localhost.../output.html`
If I am right, I think you get in the Chrome console a message like this one `"Cross origin requests are only supported for HTTP."`

Tell me if am wrong.

[2019-05-27 19:46] RLesur commented on #102
Sorry for the first point, this is a bug in my _quick and dirty_ proposal.
The following line is wrong:
[code]
and must be replaced with:
[code]

For the TOC, you are right: the TOC is generated by pandoc and the hook should also update the TOC. This is feasible: you have to create and insert a new `li` element in the `ul` element of the TOC.
Tip to find where to insert this `li` element: all the

[2019-05-28 06:28] cderv commented on #103
I can also reproduce and already has encountered this. I can confirm that Firefox has not this security mesure and can correctly open the file. Chrome is blocking not `http://` or `https://` url and ressources links.

 Useful R function to serve the file are also `servr::http()` or `servr::httpw()`. `xaringan::inf_mr()` does that with more features.

I think you can use a [flag](https://peter.sh/e

[2019-05-28 13:29] brentthorne commented on #103
I am curious as to why it is happening for the `html_paged` or any output that is based off of it but does _not_ happen with the `html_poster` output.

@cderv have you tried the `html_poster` option yet? Are you able to view it in chrome as expected? If so do you have any thoughts as to why it would work compared to `html_paged` ?

[2019-05-28 17:50] RLesur commented on #103
The message in the Chrome console looks like this one:

That means Paged.js uses AJAX to open and analyze the CSS files. The AJAX requests are blocked by Chrome because of its security settings.

The `html_poster` output format does not use Paged.js: there is no AJAX request. That is why it works in Chrome without a local web server.

This behavior was quickly mentionned by @yihui in his talk at r

[2019-05-28 18:48] cderv commented on #103
This is just fine ! 😄

I believe something is better that nothing. So I was thinking of just advicing to use `xaringan::inf_mr()` or `servr::httd()` when using some paged.js format to be sure it shows ok.

[2019-05-29 04:16] yihui commented on #103
I think I had documented it last year: https://github.com/rstudio/pagedown/commit/38494d9cdd9d3e5c45a550d19bf84a5b8d96cf3a#diff-53d905968d17f5efb2282302b2f831ecR48

[2019-05-29 14:14] brentthorne commented on #102
So far I've had little luck getting this to work. I've tried adding the `front-matter` and `front-mater-ref` class to the `<h1>` tag on the abbreviations page but have not been successful. I also tried to ad the `li` to th `ul` using js but again I will need to take more time to figure it out.

From what I've gathered so far in the [config.js](https://github.com/rstudio/pagedown/blob/082dffbbc5319

[2019-05-29 23:24] RLesur commented on #102
I understand well the point.
It is important to have in mind the different steps of `html_paged`:
1. The `PagedConfig.before` async function runs first. The input is the HTML document generated by Pandoc. In pagedown, this step ensures that MathJax runs before Paged.js. The document is also slightly modified (note that these tasks could be done in a `beforeParsed` hook, this would lead to the same

[2019-06-02 21:42] RLesur commented on #102
@brentthorne Thanks for https://github.com/rstudio/pagedown/pull/107! I will work on the list of abbreviations feature by pushing on your fork (maybe this week).

[2019-06-04 00:31] RLesur commented on #102
In order to ease the implementation of this feature, I've updated  **pagedown** through https://github.com/rstudio/pagedown/commit/c44ddd6d8efba992dedabd8616e318356ecbd99b and https://github.com/rstudio/pagedown/commit/53f29bd3889637c2bc635e917d6a6c4e275fe955

I also pushed a modified version of the hook in #107, see https://github.com/rstudio/pagedown/pull/107/commits/ca86bf53b19de49268772a0efde3

[2019-06-04 14:45] brentthorne commented on #102
Looks great, thanks @RLesur ! Is there anything else needed on my end for the pull request to go through?

I do plan to make the `skeleton.Rmd` a little more robust with examples of the features one may want in a thesis document.

[2019-06-04 19:03] RLesur commented on #102
@brentthorne I will review #107 and let you know my suggestions if any.

[2019-06-05 07:49] Dr-Joe-Roberts commented on #95
Okay, so I have solved the issue of the missing spaces. In order to implement them as I wanted, it is necessary to add `data-concise=true` to the section title after `data-icon` like this: `Employment {data-icon=suitcase data-concise=true}`.

I hope this helps anyone else that reads this thread!

[2019-06-05 07:49] #95 closed

[2019-06-11 14:30] liutiming opened #108 "Feature request for academic style resume"
Thanks for this awesome package!

I am wondering if there is a template available for a more traditionally styled cv like [this](http://svmiller.com/blog/2016/03/svm-r-markdown-cv/). Currently the linked template use `\hfill` to format the date but I feel a more organised way maybe to have date as a field and automatically align them to the right of the page during knitting.

[2019-06-11 14:53] yihui commented on #108
This doesn't seem like a super challenging CSS exercise. Anyone please feel free to submit a PR :)

[2019-06-12 05:43] cderv commented on #108
@yihui I don't know if this is an option for pagedown but it may be something interesting for [tidydevday](https://github.com/tidyverse/dev-day-2019)
Anyway, I put the label help wanted to show someone could chime in.

[2019-06-12 16:07] yihui commented on #108
Yes, that is a great idea. We could also make a virtual R Markdown dev day. There are so many issues that we need help with :)

[2019-06-12 18:45] kbodwin commented on #92
I built a clunky version on top of the "relaxed" template here:
https://github.com/kbodwin/templates/tree/master/morrison-poster

[2019-06-12 21:04] RLesur commented on #92
@kbodwin This is a nice start :smiley:! @brentthorne also began to work on a similar template in [**posterdown**](https://github.com/brentthorne/posterdown).

[2019-06-12 22:17] gadenbuie commented on #92
I love how this poster format resonated with community! I didn’t really “advertise” this but I also made a version for anyone who’s interested: https://github.com/gerkelab/betterposter

[2019-06-12 23:12] RLesur commented on #92
Thanks @gadenbuie!

[2019-06-14 00:31] kbodwin commented on #92
Oh, rad!  Thanks @RLesur , @gadenbuie , and @brentthorne.  I'll check those versions out!

[2019-06-18 21:27] RLesur opened #109 "websocket package is on CRAN"
The [websocket package](https://cran.r-project.org/package=websocket) has just been released on CRAN.
We may consider reverting #74 .
IMO, this is a low priority task. I would be interested in your opinions.

[2019-06-19 04:02] yihui commented on #109
Yes, let's revert it.

[2019-06-21 08:42] abichat opened #110 "chrome_print(output = "*.pdf") can't render `--` and `count: false`"
I have an issue about how `xaringan` pauses are rendered by `chrome_print()` in `.pdf`.

Reprex:

[code]

In `.html`, there is 7 slides. Three are numbered `2/4` (with `--`) and two `3/4` (with `count: false).

However, when I used `pagedown::chrome_print(input = "reprex.Rmd", output = "reprex.pdf")` (or direclty from chrome), the `.pdf` has only 4 slides : only the last one is kept per page numbe

[2019-06-21 10:33] cderv commented on #110
Hi,

Does it work as expected when opening your html xaringan présentation in chrome and printing to pdf from there ?

I suspect it is not.

I think this is not an issue with pagedown. It could be related to discussion in yihui/xaringan#192

Have you tried with last dev xaringan version including the fix for #192 ?

I could come from remark.js directly. I need to test further and see how to adapt

[2019-06-21 12:01] RLesur commented on #110
Just an idea: if the rendering is ok after removing the `has-continuation` class, maybe we could remove this class with JS before generating the pdf with `chrome_print()`.
I'll give it a try.

[2019-06-21 12:25] abichat commented on #110
It still don't work _as I expected_ with **xaringan** 0.10.1.

But as you pointed out with the discussion, my issue is actually a desired feature :

(from **xaringan** 0.9 [NEWS file](https://github.com/yihui/xaringan/blob/master/NEWS.md).)

[2019-06-21 14:08] cderv commented on #110
@RLesur, removing this class was just a workaround as a result of an investigation of mine when it happened.

I think it needs to be looked into thoroughly to understand what is the real issue here.

I’ll try to find time for that.

[2019-06-26 12:21] andreaphsz opened #111 "Pandoc 2.7.3 fails to render URIs to footnotes (error in uri-to-fn.lua)"
same issue now for pandoc 2.7.3! will you fix it?

_Originally posted by @andreaphsz in https://github.com/rstudio/pagedown/pull/19#issuecomment-505820690_

[2019-06-26 12:43] andreaphsz commented on #111
[code]
[code]
gives:
[code]

[2019-06-26 12:48] RLesur commented on #111
Thank you very much for the report and the traceback! This is extremely useful!
I haven't tested Pandoc 2.7.3 yet.

Having read the [release note for pandoc 2.7.3](https://pandoc.org/releases#pandoc-2.7.3-11-june-2019), I think this is related to this evolution:

It seems that Pandoc 2.7.3 broke this part of the `uri-to-fn.lua` filter:
https://github.com/rstudio/pagedown/blob/52db785c9e57c9f03cb29

[2019-06-26 15:28] #111 closed

[2019-06-26 15:45] RLesur commented on #111
I've fixed this issue through https://github.com/rstudio/pagedown/commit/1f062d49da705d0b0750e0389f7cd4d500f6ef71.
In Pandoc < 2.7.3, the global variable `PANDOC_VERSION` is of type `table` (in `lua`).
Since Pandoc 2.7.3, this variable is of type `HsLua Version`.
Using a shallow copy of `PANDOC_VERSION` solves the bug.

Thanks again for the bug report, @andreaphsz !
In order to use the patched ver

[2019-06-26 16:01] andreaphsz commented on #111
Works! Thank you for the super fast fix!

[2019-06-26 16:06] RLesur commented on #111
You're welcome! I was able to fix it quickly because your bug report was clear enough.

[2019-06-27 15:37] #102 closed

[2019-06-30 21:28] #109 closed

[2019-07-01 05:48] cderv commented on #109
Thanks  @RLesur  !

[2019-07-04 18:04] potterzot opened #112 "Error when rendering letter, thesis, and paged html templates"
When opening a default template for one of [HTML Letter, HTML Thesis Document, Paged HTML Document] I get the following error when attempting to knit. This does not occur with the resume or business card templates.

[code]

System details:
- Linux
- `R` version: 3.6.0 (2019-04-26)
- `rstudio` version: 1.2.1335
- `pagedown` version: 0.2.9, installed this morning with `devtools::install_github("rstu

[2019-07-04 18:25] RLesur commented on #112
Thanks for the report. This is related to Pandoc. Could you add your Pandoc version, please?

[2019-07-04 19:28] potterzot commented on #112
Ah thank you, my pandoc version was 2.0.1. Updated to 2.7.3 and issues are fixed. Sorry for the needless issue!

[2019-07-04 19:28] #112 closed

[2019-07-04 19:50] RLesur commented on #112
No problem!
We could internally check the Pandoc version and throw a more explicit error.

[2019-07-05 04:33] r2evans opened #113 "chrome_print URL regeneration"
Migrated from #97.

I'm sorry for hijacked a completed PR @cderv, I was wondering if the PR was either prematurely merged or something else. I notice a difference in the app's URL (and `#` handling) when an app is loaded from the dashboard (still with the right nav-bar with info/access/runtime/.../logs) and loaded full-browser ("normal" users). I wonder if there's a way for the app to know this in

[2019-07-05 05:41] cderv opened #114 "write a vignette on chrome_print and shiny"
From https://github.com/rstudio/pagedown/pull/97#issuecomment-480575036, @colinfay offered to write a vignette on the feature `chrome_print` in a shiny app.

Are you still interested ?

[2019-07-05 09:26] RLesur commented on #113
The only goal of #97 was to enhance `chrome_print()` to create an `async` argument which can be used in any context . `async = TRUE` is required if the user wants to use `chrome_print()` in a Shiny app.

For instance, one can use this argument in the console
[code]
When `async = FALSE`, the R session holds until `chrome_print()` terminates.

The `chrome_print()` function does not handle URLs. If a

[2019-07-05 15:13] r2evans commented on #113
I see what you mean, the code above is specific to the example you posted in the previous issue and pull. I understand, and 114 is the right place to discuss it. I understand the purpose of `async=` and interpreted the shiny implications the same way.

I believe my use-case is just a little different from your previous example, so it might not be as immediate for me: in your case, you want a PDF v

[2019-07-08 14:07] brentthorne opened #115 "Adding line numbers to margin for templates meant to be edited/ reviewed"
Is there a way to add a line number count in the left margin with paged.js? This would be very useful for templates made where documents need to be reviewed such as journal manuscripts, legal documents, government documents, etc..

I've tried combing through paged.js resources but haven't been able to find anything as of yet.

[2019-07-08 15:33] RLesur commented on #115
TBH, I have no idea how to do that.
Maybe @fchasen or @JulieBlanc have some tips?
I am going to ask to the Paged.js community on the dedicated [mattermost channel](https://mattermost.pagedmedia.org/).

[2019-07-08 16:06] brentthorne commented on #115
That would be wonderful thank you!

[2019-07-08 18:11] brentthorne opened #116 "styling content inside of margin arguments"
Hello again!

I have a template which uses the page margin arguments to place a running footer with specific content like so:

[code]

Ideally I would like to be able to style the `content`, for example having "Some" be bold face but "content" be regular face. The issue is that I cannot place html tags into the `content` field as it just prints the value exactly as it is.

Is this a limitation of

[2019-07-08 21:07] julientaq commented on #115
Hey @brentthorne and @RLesur (thanks to have connected us to here :D)

There is no way, with css, to count all line today, so you need a bit of hacking.

What i do, when i work with a baseline, is to number the lines on the whole page. it's a bit overkill, but it's pretty useful to design book with this: https://gist.github.com/julientaq/08d636a7a2b5f2824025256de0fca467 to have an example of how i

[2019-07-08 21:13] RLesur commented on #116
Hello Brent,

This is a much more easy question :smiley:

This feature exists in the [W3C CSS Generated Content for Paged Media Module](https://www.w3.org/TR/css-gcpm-3/) and is named [_running elements_](https://www.w3.org/TR/css-gcpm-3/#running-elements). Paged.js offers a support for _running elements_ (see the [documentation](https://www.pagedmedia.org/paged-js/)).

In **pagedown**, you can fi

[2019-07-08 21:33] RLesur commented on #115
Thanks a lot @julientaq! (sorry, I did not know your GH handle).

The baseline idea is really interesting. As you mention, this may be quite hard to manage well :thinking:

For now, I haven't tried to implement baselines in any **pagedown** templates because of the headers and blocks of codes. This is a pro feature and only pro designers like you can easily handle that :smile:

Element counters ar

[2019-07-09 13:42] brentthorne commented on #115
Here is an example of how the css looks when applied to the current template I am working on. Unfortunately I am already using css counters so it seems to interfere with that. Here is the [pdf](https://github.com/brentthorne/pagedown/blob/mdpi_template/inst/rmarkdown/templates/mdpi_paged/skeleton/skeleton.pdf) output of my template.  Maybe @RLesur has some input on formatting for the numbered sect

[2019-07-09 14:43] cderv opened #117 "is_remote_protocol_ok causing error in ci workflow"
It has been several time that we observed some issues in gitlab ci with pagedown printing to PDF.
The error was
[code]

I think this happen because R can't reach chrome even after 15 try spaced by 0.2 sec.
I tested by extending this and it is working.

I suggest to be less strict and offer customisation
* Increase the default (30 tries instead of 15 or 0.5 sec sleep instead of 0.2)
* Improve the e

[2019-07-09 15:46] atusy opened #119 "Why do footnotes have whitespace: pre-line?"
I happened to see extra line breaks when I made hard line breaks in footnotes by `\`.

![image](https://user-images.githubusercontent.com/30277794/60902204-35aa3d00-a2aa-11e9-9c63-147d46b43471.png)

It seems like because of a following line in `footnotes.lua` specifying `white-space: pre-line` instead of `normal`.

https://github.com/rstudio/pagedown/blob/65bd7f10aae5e439021a1ba8ad0f06f096a310c3/i

[2019-07-09 16:00] atusy commented on #119
Sorry, I should have seen comments at the top of the `footnotes.lua`

https://github.com/rstudio/pagedown/blob/65bd7f10aae5e439021a1ba8ad0f06f096a310c3/inst/resources/lua/footnotes.lua#L2-L4

[2019-07-09 16:00] #119 closed

[2019-07-09 16:09] RLesur commented on #115
Thanks for the experiment. This is very instructive.
Okay, IMO we should try to do something with the baseline approach described by @julientaq
This won't be an easy task.

[2019-07-09 16:48] julientaq commented on #115
This is half true :dancer: Because the pdf should not be the place where edits or comments happen. We have better tools to do that today, especially within journals and peer review process. (this is exactly what we're working on at [Coko](coko.foundation): building tools to define new and collaborative publishing workflows).

That said, we still have people who want to print to read and work on a

[2019-07-09 22:38] atusy opened #120 "Page numbers disappeared from page reference"
As far as I checked by rendering `inst/examples/index.Rmd`, the page numbers disappeared since 216c09a9435788b0b4f2b993828ca91b8a3156d8.

Below is a screenshot of current https://pagedown.rbind.io/#page-references

![image](https://user-images.githubusercontent.com/30277794/60905039-372a3400-a2af-11e9-9728-63f56f863d90.png)

[2019-07-10 10:42] brentthorne commented on #116
Thanks! I got it working for a string of text which is great. However I am wondering how I would style a running header that contains `counter(page)`.

[code]

I need to make the page numbers bold face but not the `" of "` so it should look like this: **2** of **3**

Thanks again!

[2019-07-10 15:36] atusy opened #121 "kable with many rows and long a footnote creates unnecessary white space"
Though I guess this issue is quite difficult to solve, let me report for the sake of others.

I found kable with many rows and a long footnote creates unnecessary white space when `paged-footnotes: true`.
You can see the kable output is split into pages, but the first part still have more space to include more rows.

![image](https://user-images.githubusercontent.com/30277794/60982004-55a53380-a37

[2019-07-10 15:56] atusy commented on #121
I found the problem is not limited to kable, but to any text.
AND I also found a work around.

Just add foolowing CSS.

[code]

This is possible because footnotes' font-size are overwritten to `x-small` when they are moved to footnote area.

# Before

![image](https://user-images.githubusercontent.com/30277794/60984194-3f00db80-a376-11e9-9d7b-7f3639465995.png)

# After

![image](https://user-image

[2019-07-13 15:54] RLesur commented on #121
Thanks a lot @atusy for diving into this hard topic.
The `paged-footnotes` option is presented in the **pagedown** documentation as experimental but I have to confess that this is mostly a hack. The footnotes support is still a missing feature in Paged.js but the dev team works on this topic.
I have to admit that the trick used in the footnotes hook is far from perfect.

The source code of the foo

[2019-07-14 04:12] yihui commented on #120
@RLesur After this issue is resolved, I'd like to upload a new version of **pagedown** to CRAN because it has been almost half a year since the last update. No hurry, though.

[2019-07-14 08:26] RLesur commented on #120
@yihui We are sync. I precisely wanted to inspect this issue today before going on holidays.

[2019-07-14 13:18] #117 closed

[2019-07-14 14:43] RLesur commented on #120
@atusy Thanks a lot for having spotted the exact commit. This was super helpful!
The problem comes more precisely from https://github.com/rstudio/pagedown/commit/216c09a9435788b0b4f2b993828ca91b8a3156d8#diff-b2e946e796db5bbbe9e9b33dd905e4b7L184
I don't know why I've removed this `<div>`. Sorry for that!

There's another problem to fix: with **Pandoc 2.7.3**, `<a></a>` elements are present in code

[2019-07-14 16:11] #120 closed

[2019-07-14 21:18] atusy commented on #121
Thanks @RLesur for sharing the background of `paged-footnotes`.
Now I understand about the side effect.
I just don't understand what is "an infinite loop" happened by `.footnote {font-size: 0}`?

Anyway, I noticed that `font-size: 0` won't keep sufficient room in the page sheet for the footnotes area when there are many long footnotes.

On the other hand, I also noticed that `font-size: 1px` can b

[2019-07-14 21:20] atusy commented on #120
Thank you, too!!
I locally checked it works now :smile:

[2019-07-14 21:34] RLesur commented on #121
Sometimes, Paged.js builds an infinite number of pages.
You can inspect the number of pages while Paged.js is running:
- in Chrome, open the Developer Tools panel
- the second child of `<body>` is
[code]

If you observe that the CSS variable `--pagedjs-page-count` does not stop to increase (more than 200 pages for instance), this is an infinite loop.

[2019-07-14 21:42] atusy opened #122 "Numbered example lists is not working"
Pandoc supports numbered example lists, which sequentially count items throughout the document. https://pandoc.org/MANUAL.html#numbered-example-lists

This feature works in `rmarkdown::html_document`, but not in `pagedown::html_paged`

## htmll_document

![image](https://user-images.githubusercontent.com/30277794/61189668-81eee600-a6cb-11e9-96b4-645694aa730e.png)

## html_paged

![image](https://u

[2019-07-14 21:59] atusy commented on #121
Interesting. It seems that the infinite loop is not caused by footnote, but something else

Here's a reproducible example.

[code]

The infinite loop likely happen when repeating too much.
`rep(letters, 50L)` worked without infinite loop.
I guess `Paged.js` has some limitation or bug in rendering very long of paragraphs.

[2019-07-14 23:06] RLesur commented on #122
I had a quick look. It seems to be a bug in Paged.js.
I have opened an issue in the Paged.js project https://gitlab.pagedmedia.org/tools/pagedjs/issues/130

[2019-07-14 23:12] yihui commented on #120
@RLesur Perfect! Please let me know whenever you feel you are ready for the next release, and I'll upload it to CRAN. We certainly don't have to address all issues. I think we have had enough items in NEWS.md that can warrant a CRAN update.

[2019-07-14 23:20] RLesur commented on #120
@yihui I will leave tomorrow and won't be able to contribute to open source projects for three weeks.
I think you can release 0.3 when you want.

[2019-07-15 03:26] yihui commented on #120
Sounds good. Thank you!

[2019-07-15 14:50] yihui commented on #120
@RLesur FYI, **pagedown** v0.3 is on CRAN now.

[2019-07-17 20:34] cderv commented on #72
Hi @dktanwar,
the link to your CV we put as example in pagedown readme was no more working. And the repos does not seem to exist.
For now I removed it. Please fill free to provide your new url, I did not find it myself.
Thanks a lot !

[2019-07-18 11:54] dktanwar commented on #72
Hi @cderv

Thank you!
Sorry, I completely forgot to update here the link: https://dktanwar.github.io/CV/Deepak_Tanwar.html

Also, repo: https://github.com/dktanwar/dktanwar.github.io

[2019-07-22 04:25] rensa opened #124 "chrome_print(): "Error in websocket callback: cannot open the connection""
## Problem description

I'm having an intermittent problem with `chrome_print()`: it works great initially, but at some point after I've run it a few times (sometimes with minor tweaks to the same input `.rmd` file; sometimes running an identical `.rmd` that worked previously), I get an error _after_ the intermediate HTML has been successfully produced:

[code]
[knitting progress output]
[code]
~~

[2019-07-22 06:05] rensa commented on #124
Just realising that `chrome_print()` has a `verbose` argument too, sorry! I can dump the whole output from `verbose = 2` if it's safe to do so.

[2019-07-22 06:17] cderv commented on #124
Hi @rensa !
The error you get is when R tries to connect with chrome using websocket. it could also be anything not R related. Hopefully the verbose output would get us more informations.
There is also a timeout argument defaulting to 30s. You could try increase it but it comes in play after the connection has been made normally not for the connection.

[2019-07-22 07:19] rensa commented on #124
Thanks @cderv! Yeah, looking at the verbose output my sense is that the connection is already made, and the error occurs after jus ta second or two. Let me drop the whole thing in here:

[code]

[2019-07-22 11:57] cderv commented on #124
Failed to generate output in 30 seconds (timeout).

Ok this means that the default timeout in `chrome_print` has been reached. You could try by increasing it with the `timeout` argument.

However, I see this

This should mean that the printing happened correctly and R reveiced the base64 encoded data.
I don't understand why the error  "cannot open the connection" appears at the end of this line.
C

[2019-07-26 01:33] brentthorne opened #125 "Change style of Figure and Table labels"
A template that I am working on requires the figure and table labels to be formatted different from the default. I tried looking around to see if this has been resolved before but I haven't had any luck yet.

Default:

Here is what I would like to have:

I'm sure there is a simple way to do this that I have missed but I figured you guys would know best!

Thanks again.

[2019-07-28 22:37] brentthorne commented on #115
Here is my first attempt at this. Just know that I have never used JS before this so hopefully I haven't made it too messy. https://jsfiddle.net/brentthorne/Lesk0n3o/7/

It does what @julientaq mentioned for computing the number of lines per element. What needs work is the implamentation of adding (or just skipping) specific element such an img or div with class figure. Feel free to let me know wh

[2019-07-30 21:24] brentthorne commented on #115
So I have spent a little more time on this and have figured out a way to solve for the figures and other divs which appear in the document. Here is the new version of what I have come up with so far: https://jsfiddle.net/brentthorne/m4w3r7bh/

The next step is to implement this into the paged.js template. I think I would be adding the `.margin` div from my example into the `@top-left` of the paged

[2019-07-31 01:34] rensa commented on #124
Sorry for the delay getting back to you, @cderv, and thanks very much for trawling through that log! I haven't had any further problems, and I strongly suspect this was a case of me leaving the output file open (eg. in a PDF reader) while trying to re-run it 😅

[2019-07-31 01:34] #124 closed

[2019-08-05 17:49] DavisBrian opened #128 "Support multiple RMD files"
As far as I can tell there isn't a way to split an html_paged document across multiple rmd files (ala bookdown), everything must be in one rmd file.  Is this correct?

[2019-08-05 19:20] cderv commented on #128
I think you can use bookdown 📦 with a `pagedown::html_paged` format.

In your `_output.yml` file in a bookdown project, try add
[code]
or with option. Then, build the book (using RStudio IDE button or `bookdown::render_book`.
I think it should work as expected. At least in the test I did, it worked :)

[2019-08-05 19:42] DavisBrian commented on #128
Thanks for the info.  I'll keep looking into it but now I get
Warning messages:
1: MathJax doesn't work with self_contained when not using the rmarkdown "default" template.

The first couple chapters are fairly simple some tables (with kableextra) and plots.  Very little text even.

my _output.yml looks like
pagedown::html_paged: default
bookdown::gitbook:
  css: css/style.css
  table_css: false

[2019-08-07 21:05] wch commented on #91
I can make a PR to use a private event loop so that it's safer -- but the new version of later has not yet been released to CRAN. Do you want a PR now that has a `Remotes` field? You could hold off merging if you don't want to take a dependency on a package that's only on Github.

[2019-08-08 02:23] yihui commented on #91
@wch Joe has already submitted a PR #127. Thanks!

[2019-08-08 03:32] wch commented on #91
Ah, I didn't notice that. Great!

[2019-08-16 13:02] RLesur opened #130 "Improve MathJax support"
There are two bugs with MathJax:

1. Use of a local version of MathJax
`pagedown::html_paged(self_contained = FALSE, mathjax = "local")` does not use the local version of MathJax.

2. Self contained documents
    - with `self_contained = TRUE`, maths are not rendered with MathJax. For now, a simple workaround is to use `pandoc_args = "--mathjax"` (I saw that @brentthorne uses this trick).
    - **

[2019-08-16 15:33] #128 closed

[2019-08-16 15:33] #130 closed

[2019-08-16 15:54] RLesur commented on #128
@DavisBrian With the development version of **pagedown**, you should be able to render your book without this warning.

[2019-08-16 17:36] cderv commented on #128
Thanks @Rlesur !

[2019-08-16 17:49] DavisBrian commented on #128
Thanks! @RLesur .  This will be  great help.

[2019-08-16 20:08] RLesur commented on #130
@brentthorne With the development version of **pagedown**, you no longer need to use `pandoc_args="mathjax"` (there is no problem if you use it).

[2019-08-17 13:55] brentthorne commented on #130
Great thank you!

[2019-08-17 23:13] RLesur commented on #125
Unfortunately, **bookdown** does not yet offer a support for this kind of styling, see the related issue in the **bookdown** project https://github.com/rstudio/bookdown/issues/251.

However, it seems to be feasible for now using JavaScript. In order to synchronize with Paged.js, the most reliable way is to use a Paged.js handler. I think the following one should do the trick:

[code]

[2019-08-18 15:54] RLesur commented on #49
I think we can close this issue after https://github.com/rstudio/pagedown/commit/e9f7a1d51586a24dcb8a81b958e805ef6f9b128a

[2019-08-18 15:54] #49 closed

[2019-08-20 15:48] RLesur opened #131 "Duplicated content with break-*: avoid;"
For some headers styled with `break-after: avoid;`, I often get this kind of result with `html_paged`:

![repheaders](https://user-images.githubusercontent.com/19177171/63362628-7188f580-c372-11e9-8de5-9c772283c795.png)

As one can see, the header is duplicated.

[2019-08-20 16:01] #131 closed

[2019-08-21 18:41] jooyoungseo opened #132 "Workaround needed to knit for `self_contained: false` optioned output"
I am using R without RStudio as it is not accessible to blind people.
Whenever I knit Rmd files, I have used `rmarkdown::render()` command manually.
However, I have found that `pagedown::html-paged()` output that includes `self_contained: false` option in YAML requires different knitting workaround instead of `rmarkdown::render()`.
I assume that might be `xaringan::infinite_moon_reader()`. However

[2019-08-21 19:15] yihui commented on #132
`xaringan::infinite_moon_reader()` is available to all R users. You don't have to use RStudio to call an R function. The only difference for non-RStudio users is that you have to pass the Rmd filename to this function since it won't be able to automatically discover the current open Rmd file in the editor.

[2019-08-21 19:48] mariakharitonova opened #133 "notation in pagedown::business_card"
Hi, I'm trying to create multiple cards using the business_cards template in pagedown (thank you for making this available!) and am having trouble understanding the multiple colon and bracket notation. E.g. in the example below, there are multiple colons before the code as well as the relevant variables (e.g. name) in the square brackets. Doesn't look like R markddown. Can you please direct me to

[2019-08-21 20:12] RLesur commented on #133
These notations are Pandocs's fenced divs and bracketed spans.
Here is the relevant section in Pandoc's documentation: https://pandoc.org/MANUAL#divs-and-spans

If you prefer, you can write the same content with HTML markup (`<div></div>` and `<span></span>`)

[2019-08-21 20:56] jooyoungseo commented on #132
Wow, yes it works after passing the file name! Thank you so much @yihui for your kind and detailed explanation.

[2019-08-21 20:56] #132 closed

[2019-08-22 16:08] mariakharitonova commented on #133
Ah ok, thank you! I am new to pandoc conventions. So is there a way to define name, title, etc. variables that are in the square brackets [ ] from within the r chunks, so that I can assign names and titles programmatically? instead of listing one by one. If this is not the right place for this question, please let me know where I can ask it as I'm learning this. Thank you!!

[2019-08-22 20:06] RLesur commented on #133
:thinking: I understand your goal, however I think I would adopt another strategy.
**rmarkdown** is so powerful that we can do fun things!

Let assume that we want to automate these business cards:

[code]

The first trick that we can use is the following. With Pandoc, you can define YAML variables anywhere in your document (https://pandoc.org/MANUAL#extension-yaml_metadata_block).
_Be careful, wi

[2019-08-23 14:29] mariakharitonova commented on #133
Wow, this is just amazing and so helpful. Thank you for providing this level of detail! Can't wait to try it out. THANK YOU!

[2019-08-23 20:10] mariakharitonova commented on #133
I don't mean to abuse your kindness, but I'm new-ish to R and Rmarkdown and have not worked with lists very much. I have trouble converting my data frame (one column has name information, another has title, etc.) into the list of lists that seem to be necessary for this to work.

When I do the following, it only produces a single card, while I need it to produce as many cards as there are rows in

[2019-08-24 07:28] RLesur commented on #133
Even this is quite off-topic here, here is a basic example with the starwars dataset.
The first R code chunk uses the **R-base** `apply()` function, see `?apply`.
The second one uses the **tidyverse** `purrr::pmap()` function.

On this topic, @jennybc gave a great webinar, see https://www.rstudio.com/resources/webinars/thinking-inside-the-box-you-can-do-that-inside-a-data-frame/ and https://github

[2019-08-24 07:28] #133 closed

[2019-08-26 17:10] RLesur commented on #133
You're welcome!

[2019-08-27 08:11] RLesur opened #136 "Add support for front and back covers"
see https://github.com/rstudio/pagedown/pull/134#issuecomment-525057743

[2019-08-29 09:44] #136 closed

[2019-09-03 20:09] #115 closed

[2019-09-05 08:09] alsmnn opened #138 "Disclaimer on last page"
Hi everybody, I have one question regarding the `Disclaimer` Section in the `pagedown::html_resume`:

* Is it possible to put the Disclaimer on the bottom of the last page?

I have two pages and I have no idea how to solve this.
Also I'm new to css and googling didn't help me very much.
I would appreciate everything that points me in the right direction.

Thanks!

[2019-09-05 12:55] jdbarillas commented on #54
I'm running into the same issue of the footnote being in the TOC. What would be the easiest way to detect and remove it?

[2019-09-05 17:35] RLesur commented on #138
Hi,

I would use the following (dirty) trick:
- put the disclaimer at the very end of the Rmd file
- style with builtin CSS variables

Here is an example with the default resume.

    ---
    title: "Lijia Yu's resume"
    author: Lijia Yu
    date: "`r Sys.Date()`"
    output:
      pagedown::html_resume:
        # set it to true for a self-contained HTML page but it'll take longer to render

[2019-09-05 18:01] #54 closed

[2019-09-05 18:06] RLesur commented on #54
@jdbarillas @pzhaonet I guess nobody wants duplicated footnotes in table of contents.
I've pushed https://github.com/rstudio/pagedown/commit/e7d8b07caef91eea43f1af01b3e439e95def792a to remove them.

Sorry for the delay.

[2019-09-07 14:55] jywang2016 opened #139 "how to change the photo position in html_resume"
Hi,

[code]

The photo position is not aligned with the introduction text on the left side. So ,is there a way to make the photo position go up a little bit?

![issues](https://user-images.githubusercontent.com/33275527/64476548-6fbc9000-d1c2-11e9-9449-99a0d8026cab.png)

Here is what I expect.

![expect](https://user-images.githubusercontent.com/33275527/64476553-7a772500-d1c2-11e9-8a89-d9cdec5f94

[2019-09-07 15:20] RLesur commented on #139
It is possible to achieve using CSS.
In order to understand how to adapt the CSS styles to your need, the best thing to do is to use Chrome Developer Tools (F12 or right click on the page then _Inspect_).

When you do this, you get this screen:
![resume-img](https://user-images.githubusercontent.com/19177171/64476728-03766800-d193-11e9-9113-22d349bea6b6.png)

The vertical space comes first from th

[2019-09-08 15:15] jywang2016 commented on #139
Great！ It works well for me. :smile:

Thanks for your help.

[2019-09-08 15:15] #139 closed

[2019-09-20 13:41] mr-illington opened #141 "position and alignment in the sidebar"
I have spent the entire day on this and could not figure it out. Could anyone point me to information regarding combination of variables that allow you to control the text and image position within the sidebar.

More specifically, how the different relevant bits of the `css` (page margins, sidebar padding, other position controls for specific groups like #contact or #skills all interact with one a

[2019-09-20 20:53] RLesur commented on #141
I don't know whether you are familiar with the Chrome Developer Tools. If you aren't, I highly recommend to learn the basics <https://developers.google.com/web/tools/chrome-devtools/>.

Here are the main characteristics of the page layout and the sidebar.

In `html_resume`, Paged.js is mainly used to interpret the CSS at-page rules:
https://github.com/rstudio/pagedown/blob/e7d8b07caef91eea43f1af01

[2019-09-22 20:04] alsmnn commented on #138
worked like a charm and sorry for the late response!

[2019-09-22 20:04] #138 closed

[2019-09-22 20:08] alsmnn commented on #128
First of all sorry for hijacking this issue, but I think my question is relevant to the multi Rmd-file approach. I never used bookdown before, but I would like to be able to use:

* cover_letter.Rmd for the cover letter
* resume.Rmd for the resume

Is there an easy way to accomplish this in order to get one html file consisting of multiple pages? This would make the pdf creation for an application

[2019-09-23 05:35] cderv commented on #128
Bookdown is a tool to create book-like content and it allows to split in multiple Rmd source file to create one format. Cover letter and Resume are not the same document here. So you need to create two source document.

What is the aim here ?

You could have a Rmd document for cover letter and another one for resume. Then you could have a script that renders and prints them to pdf, then if desired

[2019-09-23 08:04] alsmnn commented on #128
Thanks for the short info about bookdown. I will definitely have a look into that.

The aim is to produce one single html file consisting of the cover letter and the resume in order to print it to a pdf with chrome.
I think, I just need to get familiar with bookdown in order to accomplish this.
Thanks for your time!

[2019-09-23 10:21] cderv commented on #128
cover letter and resume in pagedown are two different layouts. The css and html code are not the same and I don't know how you would create one html with both inside. (🤔  i am even unsure it is possible or it would be require some _heavy_ customisation).

I understand that you want one pdf at the end. I would approach that with a maybe more pragmatic solutions:

* by rendering two pdf : one from r

[2019-09-23 12:12] RLesur commented on #116
Hi Brent,

I am so sorry for the long delay. I think there are several ways to do that.
Here is one mean. It uses a running element and its pseudo-elements `:before` and `:after`.

    ---
    title: "Styling margin content"
    output:
      pagedown::html_paged:
        css:
        - default
        - styling-margin-content.css
    ---

    We can use a span to define a running content.

    [o

[2019-09-23 16:48] mr-illington commented on #141
This was a helpful overview - thank you. The trick for me was figuring out that order of the 4 margins in line 3. I had been modifying the left margin the whole time instead of the right one. To my eye, I have prefered to make a little denser use of the right panel, and keep my photo in line with the name (no top and bottom padding) - looks great!

[2019-09-23 16:48] #141 closed

[2019-09-23 17:26] RLesur commented on #141
@mr-illington I understand well. If you are interested in, the syntax is explained here https://developer.mozilla.org/en-US/docs/Web/CSS/margin#Syntax

[2019-10-07 10:51] KingdaShi opened #142 "how"

[2019-10-07 17:16] RLesur commented on #142
I really want to help you but without any example, I do not know what can I do.
The only clue I can give you is that @yihui did an example here: https://github.com/rstudio/pagedown/blob/master/inst/examples/zh-CN.Rmd
You can view the result here: https://pagedown.rbind.io/zh-cn

[2019-10-09 06:31] rensa opened #143 "chrome_print() inside rocker container fails without `--no-sandbox`"
I'm using `pagedown::chrome_print()` inside a Docker container, and I've found that if I call it naively, I get:

[code]

Whereas if I add `extra_args = '--no-sandbox'`, PDFs render fine.

In my quick Googling and StackOverflowing, I see that running Chrome/Chromium without the sandbox is generally a Bad Idea (although I'm sceptical about just how bad an idea it is when Chromium is running inside

[2019-10-09 06:34] #143 closed

[2019-10-09 06:35] rensa commented on #143
Oh, this might be because I'm shelling into my container as root and [you apparently can't run Chromium as root without `--no-sandbox`](https://github.com/karma-runner/karma-chrome-launcher/issues/158). I'll run a couple of tests as non-root 😅

[2019-10-09 11:12] mr-illington opened #144 "paged thesis tempalte not rendering"
Hello and thanks for this wonderful package. I have already implemented it to success on a CV, but am having trouble with the paged thesis template.

Specifically, the a stock pagedown thesis template knitted to html flashes for only a second and then does not load in both Chrome and Firefox browsers. By contrast, the html does load in IE and the default RStudio viewer.

Both normal .Rmd files and

[2019-10-09 12:41] RLesur commented on #143
Inside a container, I always need the `--disable-gpu` flag. I know that it is possible to run as non-root but I have never tried, see for instance [justinribeiro/chrome-headless](https://hub.docker.com/r/justinribeiro/chrome-headless/).

[2019-10-09 12:45] RLesur commented on #144
Do you get the same issue with the following url: https://pagedown.rbind.io/thesis-paged?

[2019-10-09 13:05] mr-illington commented on #144
No - this loads.

Does this suggest it is something to do with how my file is being knitted locally?

[2019-10-09 18:38] RLesur commented on #144
In order to try to identify the problem, I have one more question: do you confirm that you use a local web server as explained in the documentation (https://pagedown.rbind.io/#preview-paged-html-documents)?

[2019-10-09 21:40] rensa commented on #143
That's good to know, @RLesur! I tried removing `--disable-gpu` and was successful, but it was a reeeeaaally simple test (just a heading and text, no images or code).

[2019-10-10 06:51] mr-illington commented on #144
No, this was my mistake - I was not following the local web server requirements. Thanks for your help.

[2019-10-10 06:51] #144 closed

[2019-10-10 20:15] lu-dotcom opened #145 "Blank page after TOC and at end of document"
In the pagedown documentation example, there are blank pages present at the end of the table of contents section as well as the end of the document. The @page :blank selector in the CSS targets every blank page except for these two. Is there anyway to get rid of them through the rmd files, configuration settings, or CSS?

![image](https://user-images.githubusercontent.com/56412467/66602936-56fc1d0

[2019-10-11 12:28] ginolhac opened #146 "mathjax support for `html_resume`"
Hello,
thanks a lot for a wonderful package and nice template.
For the `html_resume` I cannot make `mathjax` to work.
I tried `self_contained: true` or `false`, `mathjax: local` or not and doesn't work.

short example below:
[code]

Mathjax expressions are not rendered. If I changed  `pagedown::html_resume:` to `html_document:` it works well.

Of note, adding this in the `hmtl` brings in the desir

[2019-10-15 21:03] RLesur commented on #145
The `pagedown::html_paged()` default style was designed for writing a book. That is why you observe these blank pages.
Technically speaking, this style uses [_named pages_](https://gitlab.pagedmedia.org/tools/pagedjs-documentation/blob/master/Part07_Named-paged.md) defined in the [`default-page.css`](https://github.com/rstudio/pagedown/blob/master/inst/resources/css/default-page.css) stylesheet.

[2019-10-19 07:56] #146 closed

[2019-10-19 11:04] RLesur commented on #146
The support for MathJax for `html_resume`was implemented through https://github.com/rstudio/pagedown/commit/f20e3b2160afb009b88fe3c8a534c92466958823.
You can try it using the development version of **pagedown**:

[code]

[2019-10-21 10:55] ginolhac commented on #146
works perfectly, thanks !

[2019-10-24 17:45] maibennett opened #147 "How can I eliminate the sidebar for page 2 onwards in the resume template? (no information after page 1)"
Hi, sorry if this is not the place to post this, but I want to remove the sidebar from the resume after the first page (the 2nd and 3rd page have no information on the sidebar). Is this possible?

[2019-10-24 19:24] RLesur commented on #147
Hi,

There is a hacky way to eliminate the grey background of the sidebar. You can use this CSS rule:

[code]

You can use the CSS chunk engine to insert this rule in your Rmd file:

   ---
    title: "Lijia Yu's resume"
    author: Lijia Yu
    date: "`r Sys.Date()`"
    output:
      pagedown::html_resume:
        self_contained: false
    ---

[code]

    Aside
    =============================

[2019-10-27 21:02] filippogambarota opened #148 "Adding bibliography from .bib file in resume?"
Could it be possible to add our publications from a `.bib` file?

[2019-10-28 08:28] mr-illington commented on #144
Hi again RLesur,

Just got back to this and still slightly confused. I have xaringan "Infinite Moon Reader" running as an addin in Rstudio and can now preview in the viewer which is a nice feature, but not quite what I was looking for.

The documentation says: "The easiest way to preview these HTML pages **in a web browser**", but I continue to have the same issue as described earlier.

One thing

[2019-10-28 20:43] RLesur commented on #144
Hi @mr-illington,

The `xariangan::moon_reader()` output format is for building a slideshow with the **xaringan** package. That's why you loose the `pagedown::thesis_paged` template.

When you run the Infinite Moon Reader addin in RStudio, you should get a log in the R console like this one:

[code]
Note the url at the very end of this message (the url begins with `http://127.0.0.1:...`).
Now, ope

[2019-10-30 03:21] RLesur commented on #148
This is a very interesting question. Thanks!

After thinking about it, I would adopt the following strategy:
- parse the `.bib` file in a data frame using the [**bib2df** package](https://github.com/ropensci/bib2df)
- use a chunk (with chunk options `echo=FALSE` and `results='asis'`) to generate the markdown content from the previous data frame

[2019-10-31 18:17] filippogambarota commented on #148
Thanks! Is a wonderful solution I'll surely try it. I think that an integration between the `pagedown` resume and some advanced features similar to the `vitae` package could be very useful. Pagedown offer the advantage to have also the html version for having an online cv.

[2019-10-31 18:17] #148 closed

[2019-10-31 18:48] yihui commented on #148
@filippogambarota I definitely agree with you. It will be nice to have a helper function in this package to read a `.bib` file and list all publications automatically on the CV. This is probably not very hard.

BTW, I'm not sure if you have seen @nstrayer's amazing post:  https://twitter.com/NicholasStrayer/status/1181254905018761216 It basically extended your idea further, and all CV data is read

[2019-11-01 20:46] thomasworville opened #149 "Multiple landscape pages"
Hi,

I'm wondering if it would be possible to create a multiple page report that is in landscape? For context, I'm trying to create a report that's visual-heavy (roughly 6 ggplots in a grid) for multiple companies in a report (so one page with the plots per company)

Thanks in advance.

[2019-11-03 19:03] RLesur opened #150 "chrome_print() fails with a local file"
With the development version, `pagedown::chrome_print()` fails to generate a pdf from an Rmd file or a local HTML file: I get a timeout. It works well with an external web address.
I suspect this comes from #127 and the use of a **httpuv** webserver.

With the current CRAN version (**pagedown 0.5**), this is OK:

[code]
<details>
<summary>Log (success)</summary>

[code]

</details>

With the devel

[2019-11-03 21:35] RLesur commented on #150
Adding `later::run_now(loop = later::global_loop())` just after https://github.com/rstudio/pagedown/blob/f20e3b2160afb009b88fe3c8a534c92466958823/R/chrome.R#L182 works.
I don't understand why we should need to execute the events registered in the global loop :thinking:

[2019-11-04 04:16] jcheng5 commented on #150
I don't think the httpuv server can fully belong to a temp loop; much of its code runs in a background thread implemented in C++, of which there is one per process, and that background thread communicates back to the main R thread using the native equivalent of `later::later(..., loop = later::global_loop())`. @wch, do you agree with that assessment?

[2019-11-04 20:08] RLesur commented on #150
Thanks, @jcheng5! The explanation is super clear.
For the record, `httpuv::service()` does not work inside `later::with_temp_loop()` (because this is a wrapper of `later::run_now()`).
In this context, one has to run `later::with_loop(later::global_loop(), httpuv::service())`.

[2019-11-04 21:23] wch commented on #150
@jcheng5 Sounds right to me.

@RLesur Can you file an issue on httpuv about needing `with_loop(global_loop())`? I think we should probably make it run with the global loop automatically.

[2019-11-04 22:18] #150 closed

[2019-11-09 06:03] tjbencomo opened #151 "Skip location requirement while including date"
Thank you for developing this great package! It saves me from dealing with Latex. I was wondering if there's a way to hide the location for certain sections. In the example resume, this would mean removing "Qingdao, China"  so it looks like the paper citation below

<img width="493" alt="Screen Shot 2019-11-08 at 9 51 26 PM" src="https://user-images.githubusercontent.com/26121995/68523730-fef12d00

[2019-11-10 11:29] mr-illington opened #152 "pagedown::html_resume cover letter"
Regarding paged resume's, I have yet to find an example that includes a cover letter. For example, it would be nice to keep some elements of the formatting and sidebar while replacing the main section with a block of text so that the cover letter and CV link together.

I imagine this could be easily extended from the existing template by modifying the css a little, just thought I'd check to see if

[2019-11-10 21:40] cderv commented on #151
I think you can do what is included in the doc for [resume](https://pagedown.rbind.io/#resume)

With the example of the template for resume

[code]

Will suppress the location but keep the date at the right place.

Did you try already ?

[2019-11-10 21:45] tjbencomo commented on #151
Ah, I missed that in the documentation. That works, thanks for the help!

[2019-11-10 21:45] #151 closed

[2019-11-11 01:09] tjbencomo commented on #147
Is there a way to extend the text on the 2nd page (without the sidebar) so that the text fits the width of the page? Without the gray bar the text looks squished

<img width="976" alt="Screen Shot 2019-11-10 at 5 08 04 PM" src="https://user-images.githubusercontent.com/26121995/68554363-b013d680-03dc-11ea-871e-696ea8bb8c6a.png">

[2019-11-11 01:16] maibennett commented on #147
Using @RLesur's approach, I included this on my .css file, and it did the trick.

`.pagedjs_page:not(:first-of-type) {
  --sidebar-width: 0rem;
  --sidebar-background-color: #ffffff;
  --main-width: calc(var(--content-width) - var(--sidebar-width));
  --decorator-horizontal-margin: 0.2in;
}`

[2019-11-11 01:52] tjbencomo commented on #147
Works great, thanks!

[2019-11-12 18:06] RyanEckert opened #153 "pagedown::html_resume pagebreak issue"
I'm having an issue with pagebreaks which I believe is different than previously reported issues.
It seems that after page 3 of the resume template, sections stop splitting across pages so that the end bullets of the block do not print and it skips to the next defined section.

I've attached photos to try and illustrate this issue:

Here is a section that is on page 2-3, which prints across the pa

[2019-11-15 22:54] RLesur opened #154 "travis fails to deploy to gh pages"
@yihui I've noticed that the two latest travis builds have failed to deploy to gh-pages:

- [travis build #393 is OK](https://travis-ci.org/rstudio/pagedown/builds/611891324#L1269-L1355)
- there is a fatal error `bad config line 1 in file /home/travis/.gitconfig` with
[travis build #394](https://travis-ci.org/rstudio/pagedown/builds/612092979#L1138) and [travis build #395](https://travis-ci.org/rs

[2019-11-15 23:25] RLesur commented on #154
fixed by https://github.com/rstudio/pagedown/commit/0907291c8f3389671645757f29ca88d3e2beda5a and https://github.com/rstudio/pagedown/commit/8fa63601a29fc131ebacf5dd1e0e212d744d8654

I haven't noticed that your personal domain has changed.

[2019-11-15 23:25] #154 closed

[2019-11-15 23:25] yihui commented on #154
In [.travis.yml](https://github.com/rstudio/pagedown/blob/master/.travis.yml), I should have used `curl -L` so that `curl` can follow the redirect. Thank you!

[2019-11-16 00:12] RLesur commented on #153
I experienced this kind of overflow.

I've just introduced (https://github.com/rstudio/pagedown/commit/d3b2100313f41bb42a8939a1bc5f2726013e522b) the support for pagebreaks in **pagedown** using the new pandoc filter available in **rmarkdown 1.16** (see https://github.com/rstudio/rmarkdown/pull/1626).

You can try with the development version of **pagedown**:

[code]

The documentation about pagebr

[2019-11-16 11:36] RLesur commented on #149
Hi,

Yes, it is possible to have a landscape report.
We haven't yet implemented helpers to change paper size and page orientation (but I have some ideas on this subject).

For now, here is a minimal example. First, here is an example of a CSS file for a landscape A4 paper:

[code]

Save this file to `landscape.css`. You can use it in the YAML header of your R Markdown like this:

[code]

The Paged

[2019-11-18 09:05] thomasworville commented on #149
Thanks @RLesur , will take a look

[2019-11-25 19:54] smsenkier commented on #91
So chrome_print still can't be used in a ShinyApp? or is there a fix in the dev version?

[2019-11-25 20:30] RLesur commented on #91
I haven't tested so far but with the current CRAN version, `pagedown::chrome_print(..., async = TRUE)` should work in a Shiny app.

[2019-11-25 20:42] smsenkier commented on #91
Ok. I was getting some errors when attempting to print a .Rmd file. I needed to install chrome on my remote machine. Thanks!

[2019-11-30 12:03] RLesur commented on #114
I feel such a vignette could be valuable. Here are some recent questions on this topic
https://github.com/rstudio/pagedown/issues/91#issuecomment-558331313
and
https://community.rstudio.com/t/error-after-using-pagedown-to-generate-a-pdf-from-html-in-a-shinyapp/45999?u=rlesur

[2019-11-30 12:09] RLesur commented on #114
If anyone (@cderv, @ColinFay, @r2evans, @smsenkier or anyone else) is interesting in contributing, PR are welcome! Thanks! I do not know enough about Shiny to write this vignette.

[2019-11-30 15:44] ColinFay commented on #114
Can do, but I'm short on time in the upcoming weeks. When would you want it to be written?

[2019-11-30 17:12] RLesur commented on #114
Thanks a lot! There is no due date (there's no deadline for volunteers 😄). I just feel that `chrome_print()` is increasingly being used with Shiny.

[2019-12-14 01:08] atusy opened #156 "Strange behaviors of block elements in paged-footnotes"
For example, a footnote with bullet list in html is rendered in the body, and leaves the empty footnote at the bottom of the page.
A footnote with bullet list in markdown is collapsed.

They work fine when `paged-footnotes: false`.

## Source Rmd

[code]

## Output

![image](https://user-images.githubusercontent.com/30277794/70840796-34cc9700-1e58-11ea-8c61-59ec2048262c.png)

[2019-12-14 18:51] RLesur commented on #156
`paged-footnotes: true` only supports **inline footnotes**.
The reason comes the W3C CSS Generated Content for Paged Media Module Working Draft. As you can see [here](https://www.w3.org/TR/css-gcpm-3/#creating-footnotes), these specifications are only defined for inline elements. There is no support for block elements like lists.

In **pagedown**, `paged-footnotes: true` involves this Pandoc filte

[2019-12-15 00:58] atusy commented on #156
Thanks a lot for the explanation, and for the plan to update the documentation!!
It makes sense.

[2019-12-15 11:45] itsmevidhyak opened #157 "pagedown::chrome_print() throws error. Error in force(expr) : Failed to generate output in 30 seconds (timeout)."
The traceback is as follows:

1. pagedown::chrome_print("mycv.html", format = "pdf")
2. with_temp_loop_maybe({ ws = websocket::WebSocket$new(get_entrypoint(debug_port), autoConnect = FALSE) ws$onClose(kill_chrome) ...
3. with_loop(loop, expr)
4. force(expr)
5. stop("Failed to generate output in ", timeout, " seconds (timeout).")

The command was running fine on 3rd Dec 2019. I tried reinstalling p

[2019-12-15 22:08] RLesur commented on #157
I need more information to understand the problem. Please, can you describe your environment (system, desktop, server, proxy...)?
Could you also run `pagedown::chrome_print("mycv.html", format = "pdf", verbose = 2)` **without using** `servr::httd()`?
Tthe result of `Sys.getenv()` could also help me.

[2019-12-16 02:03] itsmevidhyak commented on #157
I am running on Windows 8.1.

`Sys.getenv()` has resulted in the below output -
[code]
Running sessionInfo() returned the following -

[code]
I tried running the `pagedown::chrome_print("mycv.html", format = "pdf", verbose = 2) `. It returns below -

![image](https://user-images.githubusercontent.com/45891298/70874037-62d7e580-1fd6-11ea-9b67-7d6faa471fa4.png)

[2019-12-16 13:54] RLesur commented on #157
Thanks for these informations. I still don't understand what is the problem.
I need more information.

Please, could you run `xfun::session_info("pagedown")`?

I also need the results of the following tests.
First, please install the latest development version of **pagedown** with `remotes::install_github("rstudio/pagedown")`.
Then, run the following script:

[code]

You should get 3 files: `chrom

[2019-12-17 03:49] itsmevidhyak commented on #157
Sure, no problem.
[code]
Re-installed pagedown as suggested and ran the script to generate the logs. Attached the logs herewith.
[code]
[code]
Thanks.

[chrome_print_test_1.log](https://github.com/rstudio/pagedown/files/3971330/chrome_print_test_1.log)
[chrome_print_test_2.log](https://github.com/rstudio/pagedown/files/3971331/chrome_print_test_2.log)
[chrome_print_test_3.log](https://github.com/r

[2019-12-17 07:29] RLesur commented on #157
These tests passed. Your configuration seems to be OK:
- pagedown finds Chrome
- Chrome is sufficiently recent
- Headless Chrome websocket server is found by R
- a PDF can be produced using a local webserver

I wonder whether the problem is specific to your HTML file (the one named `mycv.html`). Is this HTML file available online?
If not, please run the following test in the folder which contains

[2019-12-17 09:43] itsmevidhyak commented on #157
Thanks for the effort, the log seems to contain the same error. I am wondering because I have not changed anything in the source file from 3rd December version except, I tried changing the font once in CSS file from "georgia" to "Roboto". Saved, clicked knit and started getting this error. Reverted back to the "georgia" font again only to see my error persist.

[chrome_print_test_4.log](https://gi

[2019-12-17 10:52] RLesur commented on #157
Thanks a lot. From the last log, `chrome_print()` seems to work well but the process is slow (why? I don't know... maybe a slow internet connexion or an antivirus?).
Could you test by increasing the value of the `timeout` parameter in `chrome_print()`? Try once with a very large value.

[2019-12-17 13:13] RLesur commented on #157
@itsmevidhyak wrote:

If it possible, yes.

[2019-12-17 14:27] itsmevidhyak commented on #157
Thanks, my internet connection is having upload speed of 95-100Mbps and download speed of 87-97 Mbps. Microsoft's default firewall alone is present in my machine.  The high timeout parameter returned no pdf. I will upload the code to private repo before tomorrow.

[2019-12-17 15:33] RLesur commented on #157
No, I don't think that reinstalling R could help. Since increasing the `timeout` does not work, my current guess is about external assets loading (fonts or images, for instance).

The internal problem is the following: `chrome_print()` waits for a [signal](https://github.com/rstudio/pagedown/blob/17bf7979a2ac9547be79d32690514ca5cc7e9692/inst/resources/js/config.js#L63-L68) given by the **Paged.js*

[2019-12-20 13:00] gershomtripp opened #158 "chrome_print() throws error "Error in get_entrypoint (debug_port): Cannot connect R to Chrome. Please retry.""
The specific issue is related to [this](https://stackoverflow.com/questions/59273046/how-to-force-a-for-loop-or-lapply-to-run-with-error-message-in-r/59425328#59425328) SO question. You can also read my answer [here](https://stackoverflow.com/a/59425328/10191355).

The problem is that `chrome_print` is inconsistently connecting to Chrome. My solution is to put`chrome_print` in a `repeat` loop, in

[2019-12-20 20:14] cderv commented on #158
Hi,

to completely understand what is going on here, can you please send us the log messages activating `verbose` argument ?

Here the to types:
* First, `verbose = 1` to get first some messages from pagedown.
* Then another one using `verbose = 2` to  get also messages about wbesocket and chrome.

You'll be able to attach them here.

I am surprised the check about the protocol being reachable wor

[2019-12-20 23:17] RLesur commented on #158
Me too! I've never had this error.
I guess that when `get_entrypoint()` tries to obtain the websocket url, no target (tab) has been created yet by the browser.

IMO there are two workarounds:

- try to get the Page websocket URL _n_ times like in `is_remote_protocol_ok()`.

- adopt the same workflow as in Puppeteer: connect to the browser websocket url, create and attach a target in flatten mode a

[2019-12-21 03:24] gershomtripp commented on #158
No problem.

---
### Input → `verbose = 1`

[code]
### Output
[code]

---

### Input → `verbose = 2`

[code]

### Output

[code]

[2020-01-03 17:08] RLesur commented on #157
I spent a lot of hours on this issue: now, I can reproduce it on Windows (I haven't tested yet on Linux).

First of all, **the issue is related to Chrome 79** (got the same problem with Chrome beta 80, not tested with Chrome dev 81). There is no problem with Chrome 78.

Something (I don't know what) has changed in Chrome with fonts loading: in short, **headless Chrome does not download fonts anymo

[2020-01-06 12:38] RLesur commented on #158
Hi @gershomtripp,

Happy new year!
Have you seen #159? Would it be possible for you to test this PR?

Thanks!

[2020-01-06 19:51] mr-illington commented on #15
Hi yihui & RLesur,

This is exactly the fix I'm looking for - having sidebar content flow onto the second page of my 2-page resume. I'm just a little stuck on implementing it!

On the one hand it looks like the template-fix was merged with #24, yet on the other hand a new template does not seem to be incorporating the 2 page sidebar. Have tried including the number of pages in the .root to no affe

[2020-01-07 13:04] RLesur commented on #15
Hi @mr-illington,

Since https://github.com/rstudio/pagedown/commit/e79a521e3793dda1d8f869faf7b0af2625474ac5, the `html_resume()` output format uses Paged.js.
AFAIK, there is no automatic way to paginate both the main content and the sidebar content.

I can propose you to include the 2nd page sidebar content inside a div like that:

[code]

**Include this div at the very end of your Rmd file.**
Te

[2020-01-07 16:13] mr-illington commented on #15
Thanks RLesur!

It's getting me very close, but some of the .aside formatting doesn't seem to carry down the way it did in the first page sidebar.

Admittedly this is probably a very simple css question - I simply don't have any experience with css and asking it here might help others.

I've been poking around with the different elements with the Chrome inspect tool and both the page 1 .aside and

[2020-01-08 09:51] RLesur commented on #15
Got it.
OK, let's do something more robust. I would do that (to be included at the end of the Rmd file):

[code]

    Second page sidebar {.aside .extra-sidebar}
    ================================================================================

    Title
    --------------------------------------------------------------------------------

    Second page sidebar content

[2020-01-08 16:28] mr-illington commented on #15
That works perfect, and helps me understand the css element structure a bit further too. Thanks again @RLesur !

[2020-01-09 17:14] RLesur commented on #157
After diving more in this issue, I am now convinced this is a bug in headless Chrome 79 on Windows when having a CSS font-face declaration like this one (this is an extract of the Google Fonts stylesheet for the Roboto font):

[code]

When a font is not installed locally, the [`FontFace.load()`](https://developer.mozilla.org/en-US/docs/Web/API/FontFace/load) promise is pending indefinitely.
If one

[2020-01-10 17:50] RLesur commented on #157
For the record, I've opened an issue in the Chromium project <https://bugs.chromium.org/p/chromium/issues/detail?id=1040984>.

[2020-01-15 10:20] gershomtripp commented on #158
#159 fixes the issue for me. Thanks for the help @RLesur and @cderv !

One thing that hasn't changed is the warning I mention above. The script runs fine, but it still throws a lot of these warnings, even after the fix. It's also odd that the minutes change for each warning, but not the seconds. These are the warnings thrown while scraping 50 pages:

<img width="475" alt="grafik" src="https://user

[2020-01-15 15:22] RLesur commented on #158
These warnings mean that one (or many) websocket connection was not closed when headless Chrome is killed.

The order of execution of cleanup instructions is important. I tried to improve it in https://github.com/rstudio/pagedown/commit/329dc3d59b2461a44c0e5ed5d40375f456a0f819 but it seems this is not sufficient. I wonder whether this is related to the use of a private event loop (#127).

@gershom

[2020-01-15 23:59] #158 closed

[2020-01-16 21:37] RLesur commented on #157
A follow up on this issue: I've omitted an important point, I was able to reproduce the issue on Windows 7. I've tried on Windows 10 and Chrome >= 79 and I cannot reproduce it.

Because it seems very specific (Windows 7/8 & Chrome 79) and there are workarounds (see https://github.com/rstudio/pagedown/issues/157#issuecomment-570634712), I decide to stop working on this issue. We will see if the Chr

[2020-01-18 10:10] cderv opened #160 "Add support for Edge with Chromium in find_chrome"
As discussed with @RLesur, New Edge browser is [[officially out](https://support.microsoft.com/fr-fr/help/4501095/download-the-new-microsoft-edge-based-on-chromium) and it is based on Chromium now, offering the Chrome Devtools Protocol - same one as in Chrome or Chromium headless.

Here are some ressources on this new version:

* [Edge Devtools on Chromium](https://docs.microsoft.com/en-us/microso

[2020-01-19 04:46] itsmevidhyak commented on #157
Sure, thank you. Given the low priority of criticality and the fact that I did find the workaround, the decision makes sense.

[2020-01-21 08:58] dickoa commented on #160
Hi @cderv,

We can also add the [Brave browser](https://brave.com/) to the list of browser we can support, it's also based on Chromium.
Thanks

[2020-01-21 20:36] cderv commented on #160
Thanks @dickoa .
Did you try to print a pdf using `chrome_print` with this browser ? Does it work out of the box ?

[2020-01-21 20:41] dickoa commented on #160
I tried this  command on Linux and it worked perfectly

[code]

I just hope that it didn't use my Chromium install I also have on my machine.

[2020-01-21 20:48] cderv commented on #160
Cool ! Great News ! 👍
Thank you !

[2020-01-21 23:42] mrajeev08 opened #161 "Is it possible to ignore N/As when spacing entries?"
I.e.

[code]

vs.

[code]

Results in `### Header 3` having extra empty lines (or padding issue?) below it.

![Screen Shot 2020-01-21 at 6 38 39 PM](https://user-images.githubusercontent.com/42722106/72852678-5140c800-3c7d-11ea-9324-2b2601024cfa.png)

Any way to not include empty line or space for N/As?

[2020-01-24 17:27] #161 closed

[2020-01-24 17:28] RLesur commented on #161
@mrajeev08  Thanks for the report!

[2020-02-06 08:48] tvroylandt opened #162 "Multipages tables not supported"
Hello,

The tables in pagedown breaks when you try to display them on multiples pages.
Here is an example, made with `gt` but i think it's the same with other tables packages.

The default setting could be override by a break-inside : avoid; (as in my example) but it doesn't solve all the problems.

One solution could be to force automatically split the table to print in fact multiples tables with

[2020-02-08 21:29] daattali commented on #103
I may be misunderstanding the issue, but setting `self_contained: true` seems to fixed the issue for me and now I can open `html_paged` pages in chrome

[2020-02-09 02:33] RLesur commented on #103
@daattali You're right: the issue arises only for non self contained documents opened without a local webserver. Using `self_contained: true` or a local webserver works fine.

[2020-02-11 15:42] beatrizmilz opened #164 "Change "Figure" to other languages in "Fig.cap'"
Hello!
I'm using the thesis_paged layout.
I have been tying to change the word "Figure" in the figure caption to portuguese,  and tried some suggetions that works in bookdown, but i was not able to figure it out how to do this with pagedown.

Ex: this example is part of the thesis template.
[code]

A print screen of what is generated:
![](https://i.imgur.com/7mkQqkk.png)

**I would like to know if

[2020-02-13 11:13] everdark opened #165 "data-icon attribute for section header not working in html_resume"
The  section template `Education {data-icon=graduation-cap data-concise=true}` doesn't change the icon at all. Upon looking into the resulting html, it seems that the attributes (both `data-icon` and `data-concise`) are never respected at all.

Here is a minimum reproducible `.Rmd`:

[code]

In the resulting html (partial only):

[code]

The education div should have `data-icon` and `data-concise`

[2020-02-13 23:41] RLesur commented on #165
Thanks a lot for the very detailed report!
It helped me a lot to identify this bug is similar to https://github.com/rstudio/rmarkdown/issues/1723 (this is a consequence of https://github.com/jgm/pandoc/issues/5965 introduced in Pandoc 2.8). You need to upgrade to Pandoc 2.9.

Please, note that **rmarkdown** does not support Pandoc 2.8.x, see [the changelog for rmarkdown 2.1](https://rmarkdown.rstu

[2020-02-13 23:41] #165 closed

[2020-02-14 02:08] everdark commented on #165
I've confirmed the issue can be  fixed after I upgrade to Pandoc 2.9. Thx!

[2020-02-14 15:34] RLesur commented on #160
I don't have access to a Windows computer with the new Edge.
Is someone interested in writing a PR?

[2020-02-14 20:26] cderv commented on #160
I have one but I did not found time yet. If anyone would do it in the meantime, that is great !

[2020-02-15 09:48] RLesur commented on #164
Hi @beatrizmilz,

`pagedown::thesis_paged()` inherits [bookdown's internationalization feature](https://bookdown.org/yihui/bookdown/internationalization.html).
You need to create a `_bookdown.yml` file located in the same folder as your thesis Rmd file.

This YAML file should change _Figure_ into _Figura_:

[code]

Does it work with your configuration?

[2020-02-16 20:53] beatrizmilz commented on #164
It worked!

Thank you  so much @RLesur !

[2020-02-16 22:40] YonghuiDong opened #166 "Allow to add several universities for the same degree for resume"
What I would like to do is to add several universities for the same degree:

`### University One          Location 1`
`### University Two          Location 2`
`### University Three        Location 3`
`BS in xxx`
`Year`
`Arbitrary content`

Is it possible to do in in pagedown?

[2020-02-17 11:48] #164 closed

[2020-02-22 00:26] Tazinho commented on #61
I did have some trouble when trying to add an icon to a lower level heading, as the new icon collides with the default icon. So hopefully it's useful to mention that in these cases an additional "data-icon=NULL" is needed. E.g.

[code]

[2020-02-22 02:23] AnabelleLaurent opened #167 "Pagedown: Not printing an element when kniting"
Hi,
In my Talks rubric (Talks {data-icon=comment}) I have multiple talks and when I knit the last one does not show up. I am wondering if it is due to the pagebreak as the last talk should go on the next page. Instead I have the next rubric.
Thank you

[2020-02-22 21:59] cderv commented on #167
Can you share your source code ? Or an example that reproduce the issue ?
That could help us help you here, or find the issue if any.
Thank you

[2020-02-22 23:05] AnabelleLaurent commented on #167
![resume_issue](https://user-images.githubusercontent.com/26171337/75100493-ae3ce000-5593-11ea-9978-89f05cfbb4d6.png)

Here is the code `### Ranking yields of energy crops: A meta-analysis using direct and indirect comparisons ###

ASA, CSSA & SSSA International meeting, November 2-5

Long Beach, USA

2014

**A. Laurent**, E. Pelzer, C. Loyce, D. Makowski.`

The missing talk that should appear bef

[2020-02-23 08:24] cderv commented on #167
I am trying to reproduce using the `html_resume` template inlcuded in pagedown and adding some bullets to one of the main section. Currently, I can't reproduce any bugs.

* Did you try to update 📦 already ? `remotes::install_github("rstudio/pagedown")`
* If you still encounter the bug, can you try to reproduce it using the `html_resume` template so that you could share a Rmd file that recreate the

[2020-02-24 21:58] yihui commented on #61
@Tazinho That sounds reasonable. Would you file a new issue for that? Thanks!

[2020-02-25 21:14] Tazinho opened #168 "pagedown::html_resume: Inline HTML icons collide with default data-icon setting"
As mentioned in #61 adding inline HTML icons as part of a section title will collide (literally overlap) with the default "data-icon".

Therefore, it's needed to explicitly specify "data-icon=NULL", which might not be directly obvious to new users. E.g.

[code]

One possible idea for a smoother exploration of the pacakge would be to set "data-icon=NULL" as new default for section titles.

[2020-02-26 01:00] AnabelleLaurent commented on #167
It worked ! Thank you so much
Anabelle

[2020-02-26 01:00] #167 closed

[2020-02-26 06:45] cderv commented on #167
As a wise man said, ["when in doubt, upgrade"](https://yihui.org/en/2017/05/when-in-doubt-upgrade/) 😉 😄

Glad it works ! 🎉 Happy resume with pagedown !

[2020-03-16 16:11] #168 closed

[2020-03-16 16:16] RLesur commented on #168
@Tazinho Thanks for the report! This is fixed in https://github.com/rstudio/pagedown/commit/bebcb42fec959919aaff71296fbc5eadad8e4f2c.

You can now use:

[code]

I have preferred to implement a precedence of inline HTML icons over default icon and `data-icon` property because I don't think that anyone will do:

[code]

[2020-03-16 22:22] RLesur commented on #166
I would do something like that:

[code]

    Education {data-icon=graduation-cap data-concise=true}
    --------------------------------------------------------------------------------

    ### University One <br> University Two <br> University Three

    BS in xxx

    Location 1 <br> Location 2 <br> Location 3

    Year

    Arbitrary content

[2020-03-17 07:12] YonghuiDong commented on #166
Thanks a lot!

[2020-03-17 16:03] #156 closed

[2020-03-17 16:18] RLesur commented on #156
@atusy Thanks a lot for the report! I've updated the documentation in https://github.com/rstudio/pagedown/commit/3f765d9f7c3164bca5d2bddb40a537d087788184.

[2020-03-17 22:24] atusy commented on #156
Great! Thank you!

[2020-03-26 20:34] #166 closed

[2020-03-27 17:32] phaustin opened #169 "pagedown example with equation xref?"
Can someone point me to an example of how to label and crossreference equations with pagedown?  My first naive attempt:

https://github.com/phaustin/pagedown/blob/eqnums/inst/examples/index.Rmd#L853

doesn't produce an equation number.

[2020-03-27 21:03] RLesur commented on #169
`pagedown::html_paged` output format inherits **bookdown** cross-references features.
Therefore, in order to cross-reference equations, please [see the bookdown documentation](https://bookdown.org/yihui/bookdown/markdown-extensions-by-bookdown.html#equations).

[2020-03-27 22:14] phaustin commented on #169
thanks, that's what I was looking for.

[2020-03-27 22:14] #169 closed

[2020-03-31 14:46] kevinrue opened #170 "another pagedown::html_resume pagebreak issue"
Hello.

Thanks a gazillion for the stunning look of pagedown resumes!
I'm running into am issue very similar to #153  for both the HTML and PDF versions.

My CV is available here: [http://kevinrue.github.io/files/Kevin-Rue-CV.html](https://kevinrue.github.io/files/Kevin-Rue-CV.html#training-and-courses)
See the entry ["Bioconductor for Genomic Data Science"](url).

The "details" section of this en

[2020-04-04 11:38] #170 closed

[2020-04-04 11:44] RLesur commented on #170
Hi @kevinrue,

Glad you like the resume template!

I've fixed that in https://github.com/rstudio/pagedown/commit/affb42f79cf758dd657b72cfbd84bddd483ce813

Please, can you can try with the development version of **pagedown** and tell me whether the problem is fixed for your resume?
You can install the development version using:

[code]

[2020-04-04 12:25] kevinrue commented on #170
The fix works perfectly!

It looks flawless to me now.
https://kevinrue.github.io/files/Kevin-Rue-CV.html

Thanks a ton!
All the best

[2020-04-09 10:32] Robinlovelace opened #171 "Document need for @import 'https://fonts.googleapis.com/css?family=Font';"
I followed the advice in https://pagedown.rbind.io/#the-css-overriding-mechanism but my font would not change. Having played around a bit with the settings and the CSS I realised that I needed to add

[code]

Before the body to made the font available.

The whole of the CSS for custom font now looks like this:

[code]

I'm pretty sure this should be documented. Will put in a Pull Request to do so!

[2020-04-09 10:51] Robinlovelace commented on #171
Update, I've had a first go at fixing this documentation issue (see PR above).

See attached for reproducible experiments showing that the suggested steps, which omit mention of `@import` do not change the text, which could confuse people.
[pagedown-tests.zip](https://github.com/rstudio/pagedown/files/4455710/pagedown-tests.zip)

[2020-04-13 02:25] jdbarillas commented on #162
This is the code that I used, found here https://gitlab.pagedmedia.org/tools/pagedjs/issues/84,  to split my `gt` tables:

[code]

You can save that into a `.js` file and call it as an external script or add it inline to the Rmd document

[2020-04-13 05:46] tvroylandt commented on #162
This is nice, thanks !

Could we add this to `pagedown` directly maybe ? @RLesur ?

[2020-04-14 08:16] RLesur commented on #162
@tvroylandt Of course, PRs are welcome!

[2020-04-20 09:41] paulcbauer opened #173 "Performance issues"
I am already a big fan of pagedown. We are currently experimenting with moving from bookdown to pagedown for a book we are writing.

However, I am running into performance issues (the book shall have ~300 pages). I was playing around with a file of ~170 pages (the standalone pagedown html ~14 MB) that I uploaded to the bookdown server.

Are you planning a feature that would make it possible to dis

[2020-04-20 15:12] RLesur commented on #173
I'm so glad to learn you are a fan of pagedown!
These performance issues are mainly related to Paged.js.

Some performance improvements have been made recently by the Paged.js dev team. I haven't found time yet to update Paged.js in pagedown (I know I'll have to maintain the `chrome_print()` function for instance because the latest version of Paged.js breaks it).
If you want to play with the lates

[2020-04-20 16:55] paulcbauer commented on #173
I just tried the .test parameter (.test: TRUE in the header) but then my chrome browser does not properly [display the book](https://bookdown.org/paul/book_newpagedjs/book.html). Using the current pagedjs [it looks great](https://bookdown.org/paul/book_version/book.html) but seems slow. But I remember compiling it with bookdown without the 'split_by' option, and it was too slow back then as well.

[2020-04-21 04:23] RLesur commented on #173
This is very interesting! I've omitted to explain that `.test: true` cannot be used with `self_contained: true` (its purpose is also to perform some tests locally).

With the current Paged.js, there is an infinite loop because of Table 5.1 (Summary statistics): Paged.js breaks it. There is still some improvement to do in **pagedown** for tables support (see #162).

[2020-04-27 11:57] paulcbauer commented on #173
Ok, thanks for letting me know (my html, css knowledge is basic and has not really been updated since my teens)!

In the long-run it would be cool to have one single book manuscript (or chapters) that includes the slides for teaching. While teaching (using a beamer) one would zoom in and simply jump from slide to slide in the book. But at the same time students could use that same script as their

[2020-04-27 16:53] shrektan commented on #157
Bite by a similar issue.

Sorry, I didn't read all the comments carefully. My point is:

Is it possible to ask Chrome to stop downloading the resource anymore after some time (like 10 seconds) and render whatever it gets?

The current pagedown template (in RStudio IDE) contains many external sources (gifs, pictures, fonts), and some of which are not accessible in China. So basically what we get is

[2020-04-27 17:15] shrektan opened #174 "[FR] PDF bookmarks"
Pagedown is great to have the TOC. However, for long reports, the user still prefers the bookmark because they are able to go to different sections directly,  without having to return to the TOC first, again and again.

So my feature request is: I hope pagedown can generate the bookmarks as the LaTeX [hyperref](https://www.ctan.org/pkg/hyperref) does.

### Now pagedown generates TOC without bookma

[2020-04-28 12:45] RLesur commented on #122
FTR, this is now fixed in the development version of Paged.js (see https://gitlab.pagedmedia.org/tools/pagedjs/merge_requests/111).

[2020-04-28 13:24] atusy commented on #122
How nice!

[2020-05-02 09:19] mrsensible opened #175 "Pagedown resume - How to add some spacing between each section?"
![image](https://user-images.githubusercontent.com/25252172/80860192-09f3ab80-8c5e-11ea-94bb-b21b552d906e.png)

I am having a problem with the line spacing. As can be seen above, I want to add some more margins between each section so that it doesn't look that stuffy to the readers. I encouraged myself to work on CSS, but it didn't seem to work as I intended.

Can anybody out there help me with li

[2020-05-03 20:01] RLesur commented on #174
I agree with you, it would be great to have this feature.

For now, the PDF is created by Chrome. Outline is still a missing feature in Chrome PDF generation, see the related issues in the Chromium project: [here](https://bugs.chromium.org/p/chromium/issues/detail?id=781797) and [here](https://bugs.chromium.org/p/chromium/issues/detail?id=840455).

In order to add bookmarks/outline, we should post

[2020-05-07 22:47] susanapsilva opened #176 "chrome_print leaves chrome runing in background"
I'm using chrome_print to save a lot of pdf's each one from a diferent link. Problem is that it leaves chrome running in background and I get get around 3000 processes runing at the same time what block the computer.
How can I avoid this problem?

[2020-05-08 14:59] cderv commented on #176
The opened chrome should be kill at the end of each `chrome_print()` call
https://github.com/rstudio/pagedown/blob/b93f46fc1ad70182e5dd3d9fc843f752fd12f780/R/chrome.R#L87-L93

You can activate verbose to see if this happens correctly in your case
Example:
[code]

<sup>Created on 2020-05-08 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

Do you see those messages if you activa

[2020-05-08 23:09] susanapsilva commented on #176
Yes I do see that message when I run only one.
I thinks the problem might be on the atempts that fails. The link's are only valid for a few hours and if I try to access an inactive link it gives an arror and I thinks it might not kill chrome. Can I say explicitally to kill chrome after chrome_print instruction? I have a lot of links and I can only save about 1 per minute... it might be due to my i

[2020-05-09 08:17] cderv commented on #176
the `on.exit` clause should also run the `kill_chrome` function if the `chrome_print` function errors.
As you have links you are not sure that exists, you can create a wrapper, that will test the url, maybe retry, and only if it is valid, run `chrome_print`. Did you try that ?

You have a specific use case here. The `chrome_print` function already close chrome process after the printing, so I am n

[2020-05-19 17:04] gaowenxin95 opened #177 "Cannot find headless Chrome after 20 attempts"
I use chrome_print to save a pdf, the html file is truely in the path ："file:///A/Gaowenxin_notes/le_pagedown/resume-gao.html",
[code]
but l get this error，my system is win10,and R 3.6.2
[code]

[2020-05-19 20:08] cderv commented on #177
You can increase the maximum attempts if you wish using the `pagedown.remote.maxattempts` R option.

Also can you use `verbose = TRUE` to get more information on the chrome connecting issue ?

This error usually means that there is an issue with your chrome browser as pagedown does not succeed in connecting to the browser.

[2020-05-22 09:35] saleemakhtar1 opened #178 "'with_temp_loop' is not an exported object from 'namespace:later'"
[code]

I've updated **later** to the latest version and still get this error. Are these packages no longer compatible?

[2020-05-22 09:51] RLesur commented on #178
This is weird because `later::with_temp_loop()` [still exists](https://github.com/r-lib/later/blob/1f7de5813cd68eb12c74ae9a52e8caeead665b72/NAMESPACE#L15).
Please, could you post your session infos (`xfun::session_info("pagedown")`)?

[2020-05-22 11:22] saleemakhtar1 commented on #178
Apologies, this is my bad. I checked the version number of **later** and it wasn't actually the latest, the update might have failed. Now that I'm updated this is fine. Thanks!

[2020-05-22 11:25] #178 closed

[2020-05-30 01:13] gaowenxin95 commented on #177
[code]

[2020-05-30 12:31] cderv commented on #177
This error means that pagedown does manage to connect from R to the protocol as it does not seem to reach the browser. Maybe it is very long open or their is another issue in your environment.

Did you try to increase the number of attempt using the option or sleep time between attempt ?
[code]

If is does not help, we will need to look at why your chrome browser does not open correctly in devtool

[2020-05-30 13:04] RLesur commented on #177
@gaowenxin95 Are you behind a proxy?

[2020-06-01 06:12] shrektan commented on #174
I have just tested pdfmark for a while, which is not diffiult to use. I think I can help on this.

However, I need to know the TOC data in advance. I mean, I need to know which section is referring to which page in order to prepare the configure file for pdfmark.

It looks like magic for me that pagedown is able to generate the TOC with proper page references. And I have no idea at all about how p

[2020-06-01 10:35] RLesur commented on #174
IMO, the most reliable way to obtain the TOC and the page numbers for the TOC entries is through JavaScript.

I would try to do the following thing:

- using JS, get the TOC entries and their page numbers, build a JSON object with these informations. This script would be called in the [`PagedConfig.after()` function](https://github.com/rstudio/pagedown/blob/b93f46fc1ad70182e5dd3d9fc843f752fd12f780

[2020-06-01 15:27] RLesur commented on #174
Since I'm familiar with Paged.js, I wrote the JS end that can be called in the `PagedConfig.after()` function:

[code]

the `tocEntriesInfos()` function can be called like that in `PagedConfig.after()`:

[code]

[2020-06-02 01:06] shrektan commented on #174
Thank you so much. You even wrote the UTF16BE converter :D

I'll try to build a proto based on this.

[2020-06-06 17:58] shrektan commented on #174
Just to update that I've built a proto for pagedown and it looks really good.

Many thanks to @RLesur 's JS code, as I just need to put the code into the right place and write a simple converter that can translate the TOC object to the correct pdfmark's setting format (as the title has already been encoded under UTF16BE, it's much easier).

 I'll try to file a PR in the following days.

[2020-06-18 21:11] RLesur commented on #110
In order to include this solution in a CSS file, you need tweak the CSS declaration:

[code]

[2020-06-19 07:21] #110 closed

[2020-06-27 21:47] rafaelrsss opened #180 "Background color of first and last page (help needed)"
Hi all.
I wanted to change the background color only of the first and last page of my report. Is this possible? I would also like to change the font color of the first page to white.

Any help is appreciated.

[2020-06-28 09:46] RLesur commented on #180
Hi @rafaelrsss,

Sure, this is possible. Can you provide some information about your context?
What output format do you use?
Are you using some custom CSS?

The answer may be different depending on the context.

Here's an example that should work in most of cases:

    ---
    title: "A Multi-page HTML Document"
    author: "Yihui Xie and Romain Lesur"
    date: "`r Sys.Date()`"
    output:

[2020-06-28 16:43] rafaelrsss commented on #180
Hi, thanks it works.
I am using html_paged to get an automatic report in pdf for wind analysis.

I tried to create a custom.css and load together with `css: ["default-fonts", "default-page", "default"]` but it was not working... I dont know why, probably I did something wrong. But the way you suggested is working so I will keep like that.

The very last page is still white, but I think I saw an ex

[2020-07-27 19:16] apreshill commented on #52
Hello! I'd love to add this hex sticker to our https://github.com/rstudio/hex-stickers repository. But to do that, I need a higher resolution version, preferably an `.svg` file (with fonts converted to outlines). The sizes should be 2" high (point to point); 1.73" wide (side to side).

Can someone share this file? Thank you!

[2020-07-27 19:23] yihui commented on #52
@apreshill I didn't check the size, but here is the svg version that @Maschette sent to me: [pagedown gradient printer.svg.zip](https://github.com/rstudio/pagedown/files/4984028/pagedown.gradient.printer.svg.zip)

[2020-07-27 22:17] apreshill commented on #52
Thank you @yihui  and @Maschette! I put in a pull request with the hexes.

[2020-07-27 23:01] Maschette commented on #52
Thanks @apreshill! Keen to see this join the team of other hex stickers. It was originally based of the Rmarkdown SVG so hopefully the size should be right.

[2020-07-28 10:40] filippogambarota opened #181 "Read text from an R object or external csv file"
I'm creating some tickets (using the business cards template) for an event and I would like to dynamically fill the appropriate fields according to variables in a dataset. Let's say that I have a dataset with a `name`, `surname` and `institution`  and I want to generate _n_ tickets according to the correct institution and name. Could it be possibile? I cannot find a way to integrate R objects when

[2020-07-28 14:12] RLesur commented on #181
Maybe you could dynamically build the YAML like [here](https://github.com/rstudio/pagedown/issues/135#issuecomment-525044194). Here's a minimal example:

    ---
    logo: "https://raw.githubusercontent.com/rstudio/pagedown/master/inst/examples/pagedown_hex.svg"
    paperwidth: 8.5in
    paperheight: 11in
    cols: 4
    rows: 3
    output: pagedown::business_card
    ---

[code]

    ---
[code]

[2020-08-04 07:23] rensa opened #182 "Chromium timeout: "ReferenceError: $ is not defined""
Our Shiny app renders pagedown reports, and we've recently started having some reports fail with a Chromium timeout. It seems to be dependent on the report parameters: if I request ten reports, the same 4 or 5 will fail every time, even if I run them again separately, while others will render fine.

Increasing the `timeout` for `chrome_print` often solves this issue, but I had to jack it up to abo

[2020-08-04 21:19] RLesur commented on #182
Thanks a lot for your detailed report.
I have some questions : I understand that you use `pagedown::chrome_print()` inside your Shiny app, do you use it with `async = TRUE`? Could you give some informations about the output format used to produce the sale factsheet report (`html_document`, `pagedown::html_paged` other output format)?
As you explained, the issue seems related to jQuery. But jQuery

[2020-08-05 00:10] rensa commented on #182
Hi @RLesur! No, I don't use `async = TRUE`; I just wait it out. I didn't initially go for `async = TRUE`, as we're usually batch-rendering reports and I assume I'd still be waiting on the promises to be fulfilled anyway (ie. someone hits a "Build" button, a bunch of analyses are done, plots and factsheets are rendered for each analysis, then all the files are zipped up and either returned via the

[2020-08-05 01:24] rensa commented on #182
Nope, no chance commenting out the table code and the loading of `kableExtra` :/

[2020-08-05 06:46] rensa commented on #182
So, doing a bit more digging into the Chromium output, there's a fairly distinct pattern between the reports that render correctly and those that fail. Oddly, the back-and-forth for the failing ones make more sense to me than the ones than the ones that render correctly. What I've done is:

* Disabled our custom fonts (the base64 encoding of them dominates the logs so that I can't get any of the l

[2020-08-05 07:02] RLesur commented on #182
Since Bootstrap depends on jQuery, it might be possible that `kableExtra` introduces some JS code requiring jQuery. Maybe you can open the HTML file and inspect the JS code on line 28390.

IMHO, the use of `async = FALSE` could be the reason of the timeout. I highly recommend to use `async = TRUE`. In the context of a Shiny app, `async = FALSE` can lead to unpredictable behaviors.

[2020-08-05 07:07] rensa commented on #182
Thanks! I'll grab one of the intermediate HTML files and see if U can use DevTools to check for the presence of jQuery. And I'll investigate the use of async!

[2020-08-07 02:19] rensa commented on #182
It definitely seems like jQuery is coming in with `kableExtra`, as that error line disappears when I comment out the table. I think it's a red herring, though, as I continue to see reports timing out when I do that.

I'm working out how to use `async = TRUE`, as I'm not super familiar with `promises` and this report rendering is fairly deep within a large analysis and reporting operation. Is it po

[2020-08-07 05:50] rensa commented on #182
Oh wow, I take that back! `chrome_print(async = TRUE) %>% crrri::hold()` appears to have resolved this entirely. I'm sorry for my scepticism and very grateful for your time 😁

[2020-08-07 05:50] #182 closed

[2020-08-14 20:52] jdbarillas opened #183 "Global resources not found when using custom template as package"
Can you provide guidance into how I would pass resource dependencies to `html_paged`?

I'm trying to create a new format following the instructions found here in [Chapter 18](https://bookdown.org/yihui/rmarkdown/format-derive.html) so I can turn it into a package.

However, when I serve the document, the resources I've specified are not found. It does work if I add the supporting files to the skel

[2020-08-27 10:50] gglee4ai opened #184 "Figure and table numbering format in JSS template is different"
I am trying to JSS template as a preliminary paper, and found that the numbering of figure in pagedown JSS template includes the section number.
Ex). Figure 3.1 (section number 3 is included)
In my humble opinion, the numbering format should be corrected according to the JSS format, or the hard-code tips should be provided.
Thanks in advance for your effort and package!

[2020-09-02 11:40] martinschmelzer opened #185 "Use a date in a format with periods inside of a chapter title"
Take the following modified `html_paged` skeleton:

    ---
    title: "A Multi-page HTML Document"
    author: "Yihui Xie and Romain Lesur"
    date: "`r Sys.Date()`"
    output:
      pagedown::html_paged:
        toc: true
        # change to true for a self-contained document, but it'll be a litte slower for Pandoc to render
        self_contained: false
    # uncomment this line to produce HT

[2020-09-02 12:52] cderv commented on #185
I think it is an issue similar to https://github.com/rstudio/pagedown/issues/84

Because it is due to the ato generated ID which contains dots because of the date, and the selector throws an error
[code]

So it is a bug in paged.js I think. I'll see if the previous fix can be extended here. In the mean time you can set an id manually.
like that
[code]

[2020-09-02 13:03] cderv commented on #185
Pagedjs related issue IMO https://gitlab.pagedmedia.org/tools/pagedjs/issues/208

[2020-09-07 09:01] XR97 opened #186 "How to format longtable in multipages"
I use gt::gt() to convert table to html and use pagedown to print pdf. Bnd I found it just format the first page of the table. How to set the style of long table in multipages?
And I want to add table header in each pages. I use the answer of [https://github.com/rstudio/pagedown/issues/162](url) and add the js inline to the Rmd document, but it didn't work. How to set table header in multipages?

[2020-09-07 13:39] cderv commented on #186
Can you share a reproducible code example for us to easily look into this ?

Thank you !

[2020-09-07 21:41] #174 closed

[2020-09-08 01:47] XR97 commented on #186
My code is in [https://github.com/XR97/pagedown_template.git](url)

[2020-09-08 01:49] XR97 commented on #186
My code example is in [https://github.com/XR97/pagedown_template](url)   : )

[2020-09-15 08:00] martinschmelzer opened #187 "Create output file with the current date in its name"
Correct me if I am mistaken:

The only way bookdown (and therefore pagedown) is able to auto append the current date to the output file is to use an anonymous functio nin the YAML header:

[code]

I created a report template using pagedown. It boiled down the previous reporting process from approx. 3 hours of work (using Excel (booo), SQL and PowerPivot) down to 3 minutes. I want to make the templ

[2020-09-15 08:36] cderv commented on #187
This `knit` field will allow the knitr button in RStudio to use your function. You can also put this function in a 📦 so that it is less cryptic
[code]

Yes I think you can manage to do that if you create a custom format that will append the date in the post processor step to the `output_file` . Look at `?output_format`. You when then use your custom format in your Rmd file
[code]

Do you want this

[2020-09-15 09:11] martinschmelzer commented on #187
I was hoping to manage this internally. I could create that function in my custom format and add this function in the YAML. My goal though is to omit the `knit` parameter completely.

As I said, using `post_processor` works, but messes up the captioning of figues and tables done by `bookdown`.

If this is managable internally, inside my custom format, then it would be easy to turn this on or off.

[2020-09-15 09:37] cderv commented on #187
This is supprising - it should not.

Did you take care of calling bookdown post processor function inside your post processor ? Your post processor should not replace the one from bookdown but act in addition to it. There are examples of this in various R packages that create formats based on others.

If you can share the code of your format, I can guide you.

[2020-09-15 09:43] martinschmelzer commented on #187
That is a point I did not take notion of. I will check it out.

[2020-09-15 11:12] cderv commented on #187
Here is an example from bookdown

https://github.com/rstudio/bookdown/blob/57f1217c20835d538d103244ea46ec65acc374c3/R/html.R#L63-L65

If it can help...

Let me know if it works !

[2020-09-15 11:54] martinschmelzer commented on #187
I tried fiddling with it and the examples. No luck. Theres is something I am missing I guess. This is the code for my format:

[code]

[2020-09-15 12:23] cderv commented on #187
Not sur to have completly understood what you are trying to do.

What is  bevaktuell_format  ?

How is bookdown involved in this ? How do you use it with pagedown ? I don't see any bookdown mentions here.

_(As a reminder for such questions in the future, you should prefer https://community.rstudio.com, GH issue are for issues and Feature request regarding the package. The community is large and s

[2020-09-15 12:38] martinschmelzer commented on #187
That was a typo. Fixed it above.

From what I read, `bookdown::html_document2` is the base format for `html_paged`. I just wnat to have the output file name in the format [INPUTFILENAME]_[currentDate].html

Sorry for misusing this board.

[2020-09-15 12:55] cderv commented on #187
Oh I see ! I thought you were calling bookdown on your own code. Sorry, I should have reminded that.

I think your are very close and just you did not completly understand the post processor step. It happens **after** pandoc conversion. In the function, `output_file` is the path to the output file from pandoc that exists on the disk. So you just need to create a copy or rename it with you new file

[2020-09-15 13:04] martinschmelzer commented on #187
Un, wait for it, believable -.-'

That is a new level of misunderstanding for myself. Thanks fo your support, it works.

[2020-09-15 13:53] cderv commented on #187
Is this type of solution ok for what you want to do ?
Can we close this ?

[2020-09-15 14:05] martinschmelzer commented on #187
Yeeeees. Close it!

[2020-09-15 15:49] #187 closed

[2020-09-16 13:59] cderv opened #188 "Allow to use chrome_print on parametrized Rmarkdown document"
From a question in the community : https://community.rstudio.com/t/not-able-to-produce-paged-pdf-document-when-trying-to-render-html-paged-rmarkdown-document-using-parameters/80677/2

Current you can render a Rmd file using
[code]
but the included rendering does not accept params as in :

[code]

@yihui @RLesur How about we support that by
* taking `...` in `chrome_print` to pass to `render` : `pa

[2020-09-21 17:15] zackarno opened #189 "add same footer section to each page"
Is it possible to make a feature that allows you to add a the same footer to each page (i.e a color bar with a logo)?

[2020-09-21 18:39] RLesur opened #190 "[chrome_print] do not ignore Inspector.targetCrashed method"
I've experienced some troubles while printing a pdf: I got some timeouts.
In the logs, I found that the timeouts could be explained by targets crashes: when a target crashes, Chrome sends the `Inspector.targetCrashed` method.
For now, this method is ignored by `chrome_print()`. I think we should handle this method and raise an R error.

_I haven't found why the targets crashed but I suspect this w

[2020-09-27 15:55] williamorim commented on #164
Hi, @RLesur

Does the same work with pagedown::html_paged?

Thank you all for the great package!

[2020-09-27 17:08] cderv commented on #164
I think so as `html_paged` base format is `bookdown::html_document2`. Did you try already ?

[2020-09-29 01:48] yihui commented on #188
The `chrome_print()` function actually also accepts `.html` input, so this should work:

[code]

I'm fine with adding `...` or `render_args`, but it doesn't seem to save a lot of typing effort. The solution I mentioned is totally flexible and you can use any arguments of `rmarkdown::render()`.

[2020-09-29 09:28] cderv commented on #188
Oh I see. You are passing the all command to `chrome_print` because it knows how to render html file and `render` returns the output path... I missed that.

Is this documented ?

Anyway, I'll answer that in the community and we'll how it received (simple or too verbose)

[2020-09-29 09:30] cderv commented on #188
Yes this is what I answered in the [community post ](https://community.rstudio.com/t/not-able-to-produce-paged-pdf-document-when-trying-to-render-html-paged-rmarkdown-document-using-parameters/80677/2)

[code]

That works well.

We could also just document that explicitly and consider it simpler to maintain that adding a new parameter to do the same.

[2020-09-29 16:11] #188 closed

[2020-09-29 16:11] yihui commented on #188
Okay. I just added more documentation. Thanks!

[2020-10-03 19:11] RLesur commented on #190
FTR, I ran `chrome_print()` in a docker container when I got this issue.
The crash can be explained by insufficient memory.
The solution is to run Chrome with the `--disable-dev-shm-usage` flag.

_related issue:_ https://github.com/puppeteer/puppeteer/issues/1834

[2020-10-03 19:43] #190 closed

[2020-10-03 20:16] RLesur commented on #189
Thanks for the feature request!
IMO, the most robust way to implement this feature in **pagedown** would be to use a CSS preprocessor. This is related to #99.
For now, the only mean is to use a custom CSS file.

[2020-10-15 21:18] markanewman opened #191 "No entry in LoT when `kable(..., format='html')` is given."
When I use the ` format = 'html'` argument in `Kable()`, my entry for that table in the List of Tables is removed. This is problematic because things like `library(kableExtra)` set `options(knitr.table.format = 'html')` on load. As a workaround, `options(knitr.table.format = NULL)` is useful, but that causes its own challenges.

Example:

[code]
![lot](https://user-images.githubusercontent.com/173

[2020-10-16 08:25] cderv commented on #191
Yes currently the List of Table is only built for table written in Markdown in the document with a caption, and thus seen as table by Pandoc. (https://pandoc.org/MANUAL.html#tables)

The LOFT is built with a Lua filter that apply on the AST for Table element. A table in HTML is seen as Raw HTML by Pandoc and thus not scan for the reference to link to.

We would need to see how the Lua filter can b

[2020-10-18 14:08] RLesur commented on #191
Another option would be to replace the LOFT Pandoc filter with a Paged.js hook.

[2020-10-18 14:39] cderv commented on #191
Oh yes. could be easier maybe ? And JS easier to maintain that Lua filter ? 😅

[2020-10-21 18:18] yonicd opened #192 "chrome_print keypress navigation"
chrome_print navigates with a keypress of ArrowDown, how can this be controled? I am trying to use ArrowRight to navigate a xaringan slide deck with panels in the slides.

[2020-10-23 08:33] cderv commented on #192
Hi @yonicd,

What do you mean by Navigation ?  `pagedown::chrome_print` is basically just using websocket connection to the devtools protocol to load the Page Url and required resource before calling [`Page.printToPDF`](https://chromedevtools.github.io/devtools-protocol/tot/Page/#method-printToPDF).  It should be the same as clicking on Print PDF in chrome. You can pass some options to `Page.print

[2020-10-23 08:34] cderv commented on #192
I guess this ?

[2020-10-23 08:55] cderv commented on #192
From https://github.com/gadenbuie/xaringanExtra/issues/67#issuecomment-715201803

[2020-10-26 05:29] RLesur opened #193 "Fail to create a pdf with an outline ('Invalid cross-device link')"
While working in a docker container (`rocker/geospatial:3.6.3`) with volume `/home` mounted, I got the following warning:

[code]

The obtained pdf hasn't any outline.

IMO, this comes from https://github.com/rstudio/pagedown/blob/0209bcd28318bcfa95553c09ea5ef6fbe384b79a/R/chrome.R#L268

Using `file.copy()` instead of `file.rename()` solves the bug.

[2020-10-26 05:43] #193 closed

[2020-10-26 07:13] RLesur commented on #192
IMO, the issue comes from the **xaringanExtra** panelset plugin.
Basically, `chrome_print()` prints a page with CSS media `print`.

remark.js handles the print mode (see [here](https://github.com/gnab/remark/blob/48397a18ba107f3bd8b39b18782de864be9e3128/src/remark/views/slideshowView.js#L202-L229) and [here](https://github.com/gnab/remark/blob/48397a18ba107f3bd8b39b18782de864be9e3128/src/remark/co

[2020-10-26 07:13] #192 closed

[2020-10-26 07:45] RLesur commented on #33
Some progress have recently been made in Chromium, see https://bugs.chromium.org/p/chromium/issues/detail?id=652964#c73

[2020-10-26 12:32] yonicd commented on #192
Thanks for the explanation.

Is there a different tabset library that could work better with printing?

[2020-10-26 18:58] jdbarillas commented on #186
As far as I can tell, you'll have 2 problems using `gt`:

1. CSS styling for `gt` tables won't be inherited for multipage tables. My current workaround is to copy the CSS created by `gt` into a custom CSS file. See [this comment for how to do that](https://github.com/rstudio/pagedown/issues/145#issuecomment-542403855)
<details>
<summary>My gt CSS in a file named custom-tbl.css</summary>
/* Tables

[2020-10-27 11:30] cderv opened #194 "Deactivate anchor sections for pagedown"
@yihui the activation of `anchor_sections` by default and the quick release after that was a bit too much because all the format were not checked in time.

I believe like for **xaringan**, this feature should be deactivated by default for **pagedown**. Or at least adapted because it does not render well currently.

See: https://pagedown.rbind.io/#pagedjs

[2020-10-27 17:05] #194 closed

[2020-10-28 03:50] yihui commented on #194
Yes, I actually had this concern in mind and am open to deactivating it by default in the next release. I'm not too concerned by the packages in our own hands, since we could quickly make changes accordingly. I was mainly concerned by packages maintained by other authors.

[2020-10-28 08:36] cderv commented on #194
It is nice to have it by default because a lot of standard content will gain this feature and it is nice for better linking in docs, but as we don't communicate yet this type of change, and we do without a period of feedback before release, and because a lot of people have extended format using `html_document()`, any default change will have impact we don't measure correctly yet.
(For now, we know

[2020-10-28 23:06] yihui commented on #194
I intentionally held the PR from being merged into **rmarkdown** v2.4 exactly for the reason you mentioned: to give users more time for testing. After v2.4 was released, I merged the PR almost immediately, hoping to give it more time for the v2.5 release. Unfortunately the Pandoc 2.11 disruption made the release of v2.5 much sooner than I planned. Regarding announcement, I feel you can play the ro

[2020-10-29 00:42] RLesur commented on #194
No worries @yihui !

IMO, adding HTML dependencies (JS/CSS) in `rmarkdown::html_document()` is a risky choice. They can easily mess up downstream output formats extending  `rmarkdown::html_document()`.
I understand the motivations but I wonder whether this is a good choice.
If `rmarkdown::html_document()` is intended to be less stable, one should explain to downstream maintainers that they should

[2020-10-29 02:34] AlvaroMCMC opened #196 "vectorized high-resolution plots?"
I copied some code from another Rmardownfile which rendered the pdf with optimal resolution:

1) pdf Rmardown-rendered using latex.

![image](https://user-images.githubusercontent.com/21317475/97518415-1c2c7900-1965-11eb-91a2-512df7ca97e5.png)

2) pdf pagedown-html-rendered:

![image](https://user-images.githubusercontent.com/21317475/97518479-3fefbf00-1965-11eb-8b81-7040d608ba6b.png)

Is there a

[2020-10-29 04:42] AlvaroMCMC opened #197 "How to adjust margin properly?"
I am generating a pdf, but the margin of page are not displayed properly,

This is my reproducible code

[code]
</div>
[code]
/* page size */

@page {
  size: A4 portrait;
  margin: 10mm;
  bleed: 0mm 0mm 0mm 0mm;
  marks: crop cross;
  padding: 0mm;
}

/* store some string variables */
.shorttitle1 {
  string-set: h1-text content(text);
}

.shorttitle2 {
  string-set: h2-text content(text);
}

/*

[2020-10-29 13:21] RLesur commented on #196
Hi @AlvaroMCMC !

Please, could you post a reproducible example? Without a reproducible example, we cannot help you.

Thanks a lot!

[2020-10-29 13:56] AlvaroMCMC commented on #196
Hi @RLesur , thank you for taking the time to answer. Before I post the reprex. I could change the image resolution with dpi:

[code]

My question is:
Is there a way not to render plot as image but as a vectorized image (not raster) as when you render with latex?

[2020-10-29 15:26] yihui commented on #194
No, `html_document()` is definitely not intended to be less stable. I was aware of the risk but still underestimated the impact of this feature, i.e., how could an extra anchor link break your document? I guess **pagedown** is the worst case scenario (which could have been discovered if I had more time). For **xaringan**, the anchors do not break the output; they are simply useless or annoying or

[2020-10-29 16:54] cderv commented on #194
I think we have dealt with the feedback we had:
* **learnr** has deactivated it
* **pagedown** also
* **xaringan**
* **distill** did not have an issue because we already deal with format that have already anchors

We did not had any feedback on GH regarding some breakage in other place.

I think we could keep it now it is done - but we will be carefully add other feature. I don't like having all n

[2020-10-31 02:31] #197 closed

[2020-10-31 10:50] RLesur commented on #196
Thanks but I cannot reproduce your code example (`plot_grepel_0` is an unknown object in a fresh R session).

Technically, your question is related to the **knitr** package. Maybe could you try one of the recipes presented here: <https://bookdown.org/yihui/rmarkdown-cookbook/graphical-device.html>, particularly `dev= "svg"`.

[2020-10-31 11:09] RLesur commented on #194
My concern is quite technical:
- the execution of JS scripts is sensitive to the order of execution. IMO, the maintainer of an R Markdown output formats wants to keep control of all the JS scripts
- same thing for **Cascading** Style Sheets

This is related to a problem that we have with HTML dependencies: it is very hard (and almost impossible in many circumstances) to control the order of the HT

[2020-10-31 13:52] AlvaroMCMC commented on #196
It worked, thanks

[2020-10-31 13:52] #196 closed

[2020-10-31 14:06] cderv commented on #194
I like those ideas !

[2020-10-31 14:21] atusy commented on #194
I love the idea, too.
I tried to use Honoka (https://github.com/windyakin/Honoka) which is a Bootstrap theme for Japanese language.
However, if I set `theme = NULL` and and include Honoka as an HTML dependency, I lost some features such as floating ToC and code folding.
If I can provide a parameter to include some features manually, I can re-try Honoka.
(Sorry, I guess this is slightly an off topi

[2020-11-13 09:36] ginolhac opened #198 "chrome_print and Error in websocket callback: C stack usage 11960482 is too close to the limit"
Dear all,

I am having an issue with one html file (bigger than the other ones). it failed to render the pdf, so I gave him more time to do it:

[code]
the logs are:

[code]

the blocking steps are `franeResized`. I tried the `self_contained` of `xaringan` to TRUE or FALSE, doesn't change the outcome.

Many thanks for your help

[code]

<sup>Created on 2020-11-13 by the [reprex package](https://re

[2020-11-13 18:49] jtrecenti opened #199 "Internationalization for "List of abbreviations""
Hi! thanks for this awesome package

I was trying to use the list of abbreviations tool, but I didn't manage to modify the "List of abbreviations" title.

Digging into it I found that probably the title is hard coded in the `hooks.js` file:

https://github.com/rstudio/pagedown/blob/e7d8b07caef91eea43f1af01b3e439e95def792a/inst/resources/js/hooks.js#L68

Is it possible to modify it some way? I was

[2020-11-13 21:03] #199 closed

[2020-11-13 21:06] RLesur commented on #199
Hi @jtrecenti ,

Thanks a lot for the report. This is now fixed.
The `loa-title` option now works with the development version of pagedown:

[code]

[2020-11-13 21:37] RLesur commented on #198
The problem comes from the fact that the whole pdf is sent as a string to the R session. This string cannot be allocated due to R memory limit.
AFAIK, there's no "out of the box" option to resolve this problem.

The first option is to manually print the pdf with Chrome.

If you need to automate the pdf generation, maybe you can try to increase the stack size.
Another option for automation is to sp

[2020-11-16 14:24] ginolhac commented on #198
thanks a lot Romain, and sorry my html was indeed quite big. Really like your per page range options.

[2020-11-16 14:24] #198 closed

[2020-11-17 09:29] ginolhac commented on #198
your approach even works in the CI so great! :+1:

[2020-12-05 19:19] AlvaroMCMC opened #200 "How to add o modify yaml headers from pagedown template?"
I loaded the thesis template from pagedown. It does not have the yaml headers I would like to have:

Thesis template yaml headers:
[code]

I would like to have:
[code]

How do I do it?

[2020-12-07 09:20] cderv commented on #200
The YAML field currently in the template are used by Pandoc as variable to fill in the Pandoc's html template used for Thesis output. It is this one: https://github.com/rstudio/pagedown/blob/master/inst/resources/html/thesis.html

If you don't know yet about Pandoc's template, here is a good resource:
https://bookdown.org/yihui/rmarkdown-cookbook/html-template.html

If you want to have other varia

[2020-12-07 13:24] AlvaroMCMC commented on #200
Yes, It is. Thanks. I think I will just add some "params".

[2020-12-07 13:35] AlvaroMCMC opened #201 "How to add table of contents in any part of document and with other text in the same page?"
I used the code from thesis template of pagedown package. The default position of table of contents is after Acknowledgement and before List of table. I would like to add it after the Literature Review section. How can I do it?.

This is the code from the pagedown package's thesis template.

    ---
    title: A paged html thesis template for R Markdown users
    subtitle: A {pagedown} template.

[2020-12-07 13:58] cderv commented on #200
Rmarkdown parametrized report is indeed a great way to pass variable inside a document content.

I'll close this as it was only a question.

[2020-12-07 13:58] #200 closed

[2020-12-11 13:42] fmmattioni commented on #149
Is it possible to print only **one** page as landscape using this approach? I mean, my document is in portrait mode, but for a given page I would like to place it as landscape. I have tried different css commands, and although they rotate the content, the page doesn't go into landscape mode.

[2020-12-12 07:35] RLesur commented on #149
@fmmattioni Unfortunately, Chrome doesn't support this feature.

[2020-12-12 19:08] fmmattioni commented on #149
Thanks, @RLesur! I guess the way to go is to manually rotate the page after printing then 😃

[2020-12-13 03:09] yihui commented on #149
@fmmattioni You may also consider using command-line tools to edit PDF, such as qpdf (https://github.com/qpdf/qpdf/issues/132#issuecomment-322018426), which you can call via `system2()` to automatically rotate a page after you `pagedown::chrome_print()`.

[2020-12-13 12:17] fmmattioni commented on #149
@yihui this is a great approach! thanks for the tip!!

[2020-12-22 17:28] NewGraphEnvironment commented on #197
@AlvaroMCMC - did you pinpoint a solution for your issue by chance? Running into some margin issues myself....

[2020-12-22 17:32] NewGraphEnvironment commented on #175
Add a suitable number of linebreaks (ie.`<br><br><br>` ) between your sections?

[2021-01-01 16:28] RLesur commented on #201
Sorry for not getting back to you sooner.

I'm not sure to fully understand your goal. I understand that you want to move the literature review section in the [front matter](https://pagedown.rbind.io/#front-matter) and move the table of contents at the end of the front matter.

There are two strategies:
- modify the [thesis template](https://github.com/rstudio/pagedown/blob/master/inst/resources/h

[2021-01-07 23:52] #122 closed

[2021-01-08 18:33] RLesur opened #203 "[chrome_print] do not ignore Runtime.exceptionThrown event"
For now, `chrome_print()` does not handle [`Runtime.exceptionThrown`](https://chromedevtools.github.io/devtools-protocol/tot/Runtime/#event-exceptionThrown) event. A runtime error leads to a timeout. The error can be found with `verbose = 2` but I wonder whether `chrome_print()` should handle a runtime exception (like #190 ).

[2021-01-08 23:17] RLesur commented on #84
fixed by # 202